<div class="page-wrapper">

    <!-- Header -->
    <app-header></app-header>

    <div class="container">
        <div class="content-wrapper">
            <superadmin-sidebar></superadmin-sidebar>

            <content>
                <div class="page-top">
                    <div class="page-head">
                        Пользователи
                    </div>
                    
                    <div class="page-filters">
                        <div class="filter page-size">
                            <div class="filter-title">
                                На странице
                            </div>

                            <div class="filter-values" *ngIf="activeTab == 'Patients'">
                                <div class="filter-value" (click)="setPageSize(activeTab, 10)" [ngClass]="{'active': patients.pageSize == 10}">10</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 25)" [ngClass]="{'active': patients.pageSize == 25}">25</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 50)" [ngClass]="{'active': patients.pageSize == 50}">50</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 100)" [ngClass]="{'active': patients.pageSize == 100}">100</div>
                            </div>

                            <div class="filter-values" *ngIf="activeTab == 'Specialists'">
                                <div class="filter-value" (click)="setPageSize(activeTab, 10)" [ngClass]="{'active': specialists.pageSize == 10}">10</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 25)" [ngClass]="{'active': specialists.pageSize == 25}">25</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 50)" [ngClass]="{'active': specialists.pageSize == 50}">50</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 100)" [ngClass]="{'active': specialists.pageSize == 100}">100</div>
                            </div>

                            <div class="filter-values" *ngIf="activeTab == 'Administrators'">
                                <div class="filter-value" (click)="setPageSize(activeTab, 10)" [ngClass]="{'active': administrators.pageSize == 10}">10</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 25)" [ngClass]="{'active': administrators.pageSize == 25}">25</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 50)" [ngClass]="{'active': administrators.pageSize == 50}">50</div>
                                <div class="filter-value" (click)="setPageSize(activeTab, 100)" [ngClass]="{'active': administrators.pageSize == 100}">100</div>
                            </div>
                        </div>

                        <div class="filter property-filter" *ngIf="activeTab == 'Patients'">
                            <div class="filter-values">
                                <div class="filter-value" [ngClass]="{'active': patients.sortBy == 1}" (click)="setSorter('Patients', 1)">
                                    Сессий

                                    <svg *ngIf="patients.sortBy == 1 && patients.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="patients.sortBy == 1 && patients.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>

                                <div class="filter-value" [ngClass]="{'active': patients.sortBy == 2}" (click)="setSorter('Patients', 2)">
                                    Возвратов

                                    <svg *ngIf="patients.sortBy == 2 && patients.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="patients.sortBy == 2 && patients.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>

                                <div class="filter-value" [ngClass]="{'active': patients.sortBy == 3}" (click)="setSorter('Patients', 3)">
                                    Оплачено

                                    <svg *ngIf="patients.sortBy == 3 && patients.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="patients.sortBy == 3 && patients.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>

                                <div class="filter-value" [ngClass]="{'active': patients.sortBy == 4}" (click)="setSorter('Patients', 4)">
                                    Оценка

                                    <svg *ngIf="patients.sortBy == 4 && patients.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="patients.sortBy == 4 && patients.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="filter property-filter" *ngIf="activeTab == 'Specialists'">
                            <div class="filter-values">
                                <div class="filter-value" [ngClass]="{'active': specialists.sortBy == 1}" (click)="setSorter('Specialists', 1)">
                                    Сессий

                                    <svg *ngIf="specialists.sortBy == 1 && specialists.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="specialists.sortBy == 1 && specialists.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>

                                <div class="filter-value" [ngClass]="{'active': specialists.sortBy == 2}" (click)="setSorter('Specialists', 2)">
                                    Заработано

                                    <svg *ngIf="specialists.sortBy == 2 && specialists.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="specialists.sortBy == 2 && specialists.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>

                                <div class="filter-value" [ngClass]="{'active': specialists.sortBy == 3}" (click)="setSorter('Specialists', 3)">
                                    Оценка

                                    <svg *ngIf="specialists.sortBy == 3 && specialists.orderBy == 1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>

                                    <svg *ngIf="specialists.sortBy == 3 && specialists.orderBy == 2" style="transform: rotate(180deg);" width="16"
                                        height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.49988 13.5L8.49988 3.52525L12.1379 7.34475C12.3284 7.54475 12.6449 7.5525 12.8449 7.362C13.0446 7.17175 13.0526 6.85525 12.8621 6.655L8.70713 2.293C8.51813 2.10425 8.26713 2 7.99988 2C7.73288 2 7.48163 2.10425 7.28438 2.30175L3.13788 6.65525C3.04563 6.752 2.99988 6.876 2.99988 7C2.99988 7.132 3.05188 7.264 3.15513 7.36225C3.35513 7.55275 3.67138 7.545 3.86188 7.345L7.49988 3.5095L7.49988 13.5C7.49988 13.776 7.72388 14 7.99988 14C8.27588 14 8.49988 13.776 8.49988 13.5Z"
                                            fill="#005264" />
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="filter search" *ngIf="activeTab == 'Patients'">
                            <input type="text" placeholder="Поиск..." [(ngModel)]="patients.searchQuery" (ngModelChange)="setSearchQuery('Patients')" required />
                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 28.931 28.932"> 
                                <g>
                                    <path d="M28.344,25.518l-6.114-6.115c1.486-2.067,2.303-4.537,2.303-7.137c0-3.275-1.275-6.355-3.594-8.672
                                        C18.625,1.278,15.543,0,12.266,0C8.99,0,5.909,1.275,3.593,3.594C1.277,5.909,0.001,8.99,0.001,12.266
                                        c0,3.276,1.275,6.356,3.592,8.674c2.316,2.316,5.396,3.594,8.673,3.594c2.599,0,5.067-0.813,7.136-2.303l6.114,6.115
                                        c0.392,0.391,0.902,0.586,1.414,0.586c0.513,0,1.024-0.195,1.414-0.586C29.125,27.564,29.125,26.299,28.344,25.518z M6.422,18.111
                                        c-1.562-1.562-2.421-3.639-2.421-5.846S4.86,7.983,6.422,6.421c1.561-1.562,3.636-2.422,5.844-2.422s4.284,0.86,5.845,2.422
                                        c1.562,1.562,2.422,3.638,2.422,5.845s-0.859,4.283-2.422,5.846c-1.562,1.562-3.636,2.42-5.845,2.42S7.981,19.672,6.422,18.111z"/>
                                </g>
                            </svg>
                        </div>

                        <div class="filter search" *ngIf="activeTab == 'Specialists'">
                            <input type="text" placeholder="Поиск..." [(ngModel)]="specialists.searchQuery" (ngModelChange)="setSearchQuery('Specialists')" required />
                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 28.931 28.932"> 
                                <g>
                                    <path d="M28.344,25.518l-6.114-6.115c1.486-2.067,2.303-4.537,2.303-7.137c0-3.275-1.275-6.355-3.594-8.672
                                        C18.625,1.278,15.543,0,12.266,0C8.99,0,5.909,1.275,3.593,3.594C1.277,5.909,0.001,8.99,0.001,12.266
                                        c0,3.276,1.275,6.356,3.592,8.674c2.316,2.316,5.396,3.594,8.673,3.594c2.599,0,5.067-0.813,7.136-2.303l6.114,6.115
                                        c0.392,0.391,0.902,0.586,1.414,0.586c0.513,0,1.024-0.195,1.414-0.586C29.125,27.564,29.125,26.299,28.344,25.518z M6.422,18.111
                                        c-1.562-1.562-2.421-3.639-2.421-5.846S4.86,7.983,6.422,6.421c1.561-1.562,3.636-2.422,5.844-2.422s4.284,0.86,5.845,2.422
                                        c1.562,1.562,2.422,3.638,2.422,5.845s-0.859,4.283-2.422,5.846c-1.562,1.562-3.636,2.42-5.845,2.42S7.981,19.672,6.422,18.111z"/>
                                </g>
                            </svg>
                        </div>

                        <div class="filter search" *ngIf="activeTab == 'Administrators'">
                            <input type="text" placeholder="Поиск..." [(ngModel)]="administrators.searchQuery" (ngModelChange)="setSearchQuery('Administrators')" required />
                            
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 28.931 28.932"> 
                                <g>
                                    <path d="M28.344,25.518l-6.114-6.115c1.486-2.067,2.303-4.537,2.303-7.137c0-3.275-1.275-6.355-3.594-8.672
                                        C18.625,1.278,15.543,0,12.266,0C8.99,0,5.909,1.275,3.593,3.594C1.277,5.909,0.001,8.99,0.001,12.266
                                        c0,3.276,1.275,6.356,3.592,8.674c2.316,2.316,5.396,3.594,8.673,3.594c2.599,0,5.067-0.813,7.136-2.303l6.114,6.115
                                        c0.392,0.391,0.902,0.586,1.414,0.586c0.513,0,1.024-0.195,1.414-0.586C29.125,27.564,29.125,26.299,28.344,25.518z M6.422,18.111
                                        c-1.562-1.562-2.421-3.639-2.421-5.846S4.86,7.983,6.422,6.421c1.561-1.562,3.636-2.422,5.844-2.422s4.284,0.86,5.845,2.422
                                        c1.562,1.562,2.422,3.638,2.422,5.845s-0.859,4.283-2.422,5.846c-1.562,1.562-3.636,2.42-5.845,2.42S7.981,19.672,6.422,18.111z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <div class="tabs">
                        <ul class="tabs-head" #customersTabs>
                            <li class="tab-head patients" name="Patients" [ngClass]="{'active': activeTab == 'Patients'}" (click)="setActiveTab('Patients')">
                                <div class="title">
                                    Пациенты
                                </div>

                                <div class="count">
                                    {{ patients.totalItems }}
                                </div>
                            </li>

                            <li class="tab-head specialists" name="Specialists" [ngClass]="{'active': activeTab == 'Specialists'}" (click)="setActiveTab('Specialists')">
                                <div class="title">
                                    Специалисты
                                </div>

                                <div class="count">
                                    {{ specialists.totalItems }}
                                </div>
                            </li>

                            <li class="tab-head administrators" name="Administrators" [ngClass]="{'active': activeTab == 'Administrators'}" (click)="setActiveTab('Administrators')">
                                <div class="title">
                                    Администраторы
                                </div>

                                <div class="count">
                                    {{ administrators.totalItems }}
                                </div>
                            </li>
                        </ul>

                        <div class="tabs-content">
                            <div class="tab-content" *ngIf="activeTab == 'Patients'">
                                <div class="clients-list-item" *ngFor="let patient of patients.customers">
                                    <div class="client-name" (click)="routeToCustomer(patient.user.id)">
                                        <div class="avatar">
                                            <div class="avatar-inner">
                                                <img *ngIf="patient.user.photo && patient.user.photo.url" [src]="patient.user.photo.url" />

                                                <svg *ngIf="!patient.user.photo || !patient.user.photo.url" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 18.8888C1.00051 15.616 6.92593 12.9629 6.92593 12.9629C6.92593 12.9629 9.383 13.7037 11.0002 13.7036C12.6172 13.7036 15.0741 12.9629 15.0741 12.9629C15.0741 12.9629 21 15.616 21 18.8888C21 19.9999 14.9293 19.9999 11 19.9999C7.07072 19.9999 0.999826 19.9999 1 18.8888Z" stroke="#005264"/>
                                                    <circle cx="11.0003" cy="5.55556" r="5.05556" stroke="#005264"/>
                                                </svg>                                           
                                            </div>
                                        </div>
        
                                        <div class="name">
                                            {{ patient.user.firstName }} {{ patient.user.lastName }}
                                        </div>
                                    </div>
        
                                    <div class="client-stats">
                                        <div class="stat-block">
                                            <div class="title">
                                                Сессий
                                            </div>
        
                                            <div class="value">
                                                {{ patient.totalSessionsCount }}
                                            </div>
                                        </div>
        
                                        <div class="stat-block">
                                            <div class="title">
                                                Возвратов
                                            </div>
        
                                            <div class="value">
                                                {{ patient.totalRefunds }}
                                            </div>
                                        </div>
        
                                        <div class="stat-block">
                                            <div class="title">
                                                Оплачено
                                            </div>
        
                                            <div class="value">
                                                {{ patient.totalPaid | number:'':'fr' }} ₽
                                            </div>
                                        </div>
        
                                        <div class="stat-block">
                                            <div class="title">
                                                Ср. оценка
                                            </div>
        
                                            <div class="value">
                                                <div class="rating">
                                                    <img src="../../../../assets/images/star-half.svg" />
        
                                                    {{ patient.averageScore }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="customers-pagination">
                                    <app-pagination #patientsPagination [currentPage]="patients.currentPage" [totalPages]="patients.totalPages" (onChanged)="setPageNumber('Patients', $event)"></app-pagination>
                                </div>

                                <div class="no-content" *ngIf="!patients || !patients.customers || !patients.customers.length">
                                    <div class="icon">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0001 38.0001C28.8366 38.0001 36.0001 30.8366 36.0001 22.0001C36.0001 13.1635 28.8366 6.00008 20.0001 6.00008C11.1635 6.00008 4.00008 13.1635 4.00008 22.0001C4.00008 30.8366 11.1635 38.0001 20.0001 38.0001ZM20.0001 40.0001C29.9412 40.0001 38.0001 31.9412 38.0001 22.0001C38.0001 12.059 29.9412 4.00008 20.0001 4.00008C10.059 4.00008 2.00008 12.059 2.00008 22.0001C2.00008 31.9412 10.059 40.0001 20.0001 40.0001Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0001 24.0001V11.0001H20.0001V22.0569L25.4188 18.1863L26.5813 19.8138L19.5813 24.8138C19.2765 25.0315 18.8756 25.0606 18.5425 24.8892C18.2094 24.7178 18.0001 24.3747 18.0001 24.0001Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.293 10.7072L29.293 2.70718L30.7072 1.29297L38.7072 9.29297L37.293 10.7072Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70718 10.7072L10.7072 2.70718L9.29297 1.29297L1.29297 9.29297L2.70718 10.7072Z" fill="#D4E1DC"/>
                                        </svg>                                
                                    </div>
            
                                    Список пациентов пуст
                                </div>
                            </div>

                            <div class="tab-content" *ngIf="activeTab == 'Specialists'">
                                <div class="clients-list-item" *ngFor="let specialist of specialists.customers">
                                    <div class="client-name" (click)="routeToCustomer(specialist.user.id)">
                                        <div class="avatar">
                                            <div class="avatar-inner">
                                                <img *ngIf="specialist.user.photo && specialist.user.photo.url" [src]="specialist.user.photo.url" />

                                                <svg *ngIf="!specialist.user.photo || !specialist.user.photo.url" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 18.8888C1.00051 15.616 6.92593 12.9629 6.92593 12.9629C6.92593 12.9629 9.383 13.7037 11.0002 13.7036C12.6172 13.7036 15.0741 12.9629 15.0741 12.9629C15.0741 12.9629 21 15.616 21 18.8888C21 19.9999 14.9293 19.9999 11 19.9999C7.07072 19.9999 0.999826 19.9999 1 18.8888Z" stroke="#005264"/>
                                                    <circle cx="11.0003" cy="5.55556" r="5.05556" stroke="#005264"/>
                                                </svg>                                       
                                            </div>
                                        </div>
        
                                        <div class="name">
                                            {{ specialist.user.firstName }} {{ specialist.user.lastName }}
                                        </div>
                                    </div>
        
                                    <div class="client-stats">
                                        <div class="stat-block">
                                            <div class="title">
                                                Проведено сессий
                                            </div>
        
                                            <div class="value">
                                                {{ specialist.totalSessionsCount }}
                                            </div>
                                        </div>
        
                                        <div class="stat-block">
                                            <div class="title">
                                                Заработано
                                            </div>
        
                                            <div class="value">
                                                {{ specialist.totalEarned | number:'':'fr' }} ₽
                                            </div>
                                        </div>
        
                                        <div class="stat-block">
                                            <div class="title">
                                                Ср. оценка
                                            </div>
        
                                            <div class="value">
                                                <div class="rating">
                                                    <img src="../../../../assets/images/star-half.svg" />
        
                                                    {{ specialist.rating }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="customers-pagination">
                                    <app-pagination #specialistsPagination [currentPage]="specialists.currentPage" [totalPages]="specialists.totalPages" (onChanged)="setPageNumber('Specialists', $event)"></app-pagination>
                                </div>

                                <div class="no-content" *ngIf="!specialists || !specialists.customers || !specialists.customers.length">
                                    <div class="icon">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0001 38.0001C28.8366 38.0001 36.0001 30.8366 36.0001 22.0001C36.0001 13.1635 28.8366 6.00008 20.0001 6.00008C11.1635 6.00008 4.00008 13.1635 4.00008 22.0001C4.00008 30.8366 11.1635 38.0001 20.0001 38.0001ZM20.0001 40.0001C29.9412 40.0001 38.0001 31.9412 38.0001 22.0001C38.0001 12.059 29.9412 4.00008 20.0001 4.00008C10.059 4.00008 2.00008 12.059 2.00008 22.0001C2.00008 31.9412 10.059 40.0001 20.0001 40.0001Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0001 24.0001V11.0001H20.0001V22.0569L25.4188 18.1863L26.5813 19.8138L19.5813 24.8138C19.2765 25.0315 18.8756 25.0606 18.5425 24.8892C18.2094 24.7178 18.0001 24.3747 18.0001 24.0001Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.293 10.7072L29.293 2.70718L30.7072 1.29297L38.7072 9.29297L37.293 10.7072Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70718 10.7072L10.7072 2.70718L9.29297 1.29297L1.29297 9.29297L2.70718 10.7072Z" fill="#D4E1DC"/>
                                        </svg>                                
                                    </div>
            
                                    Список специалистов пуст
                                </div>
                            </div>

                            <div class="tab-content" *ngIf="activeTab == 'Administrators'">
                                <div class="clients-list-item" *ngFor="let administrator of administrators.customers">
                                    <div class="client-name" (click)="routeToCustomer(administrator.user.id)">
                                        <div class="avatar">
                                            <div class="avatar-inner">
                                                <img *ngIf="administrator.user.photo && administrator.user.photo.url" [src]="administrator.user.photo.url" />

                                                <svg *ngIf="!administrator.user.photo || !administrator.user.photo.url" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 18.8888C1.00051 15.616 6.92593 12.9629 6.92593 12.9629C6.92593 12.9629 9.383 13.7037 11.0002 13.7036C12.6172 13.7036 15.0741 12.9629 15.0741 12.9629C15.0741 12.9629 21 15.616 21 18.8888C21 19.9999 14.9293 19.9999 11 19.9999C7.07072 19.9999 0.999826 19.9999 1 18.8888Z" stroke="#005264"/>
                                                    <circle cx="11.0003" cy="5.55556" r="5.05556" stroke="#005264"/>
                                                </svg>                                       
                                            </div>
                                        </div>
        
                                        <div class="name">
                                            {{ administrator.user.firstName }} {{ administrator.user.lastName }}
                                        </div>
                                    </div>
        
                                    <div class="client-stats">
                                        <div class="stat-block">
                                            <div class="title">
                                                Роль
                                            </div>
        
                                            <div class="value">
                                                {{ convertCustomerRole(administrator.user.role) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="customers-pagination">
                                    <app-pagination #administratorsPagination [currentPage]="administrators.currentPage" [totalPages]="administrators.totalPages" (onChanged)="setPageNumber('Administrators', $event)"></app-pagination>
                                </div>

                                <div class="no-content" *ngIf="!administrators || !administrators.customers || !administrators.customers.length">
                                    <div class="icon">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0001 38.0001C28.8366 38.0001 36.0001 30.8366 36.0001 22.0001C36.0001 13.1635 28.8366 6.00008 20.0001 6.00008C11.1635 6.00008 4.00008 13.1635 4.00008 22.0001C4.00008 30.8366 11.1635 38.0001 20.0001 38.0001ZM20.0001 40.0001C29.9412 40.0001 38.0001 31.9412 38.0001 22.0001C38.0001 12.059 29.9412 4.00008 20.0001 4.00008C10.059 4.00008 2.00008 12.059 2.00008 22.0001C2.00008 31.9412 10.059 40.0001 20.0001 40.0001Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0001 24.0001V11.0001H20.0001V22.0569L25.4188 18.1863L26.5813 19.8138L19.5813 24.8138C19.2765 25.0315 18.8756 25.0606 18.5425 24.8892C18.2094 24.7178 18.0001 24.3747 18.0001 24.0001Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.293 10.7072L29.293 2.70718L30.7072 1.29297L38.7072 9.29297L37.293 10.7072Z" fill="#D4E1DC"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70718 10.7072L10.7072 2.70718L9.29297 1.29297L1.29297 9.29297L2.70718 10.7072Z" fill="#D4E1DC"/>
                                        </svg>                                
                                    </div>
            
                                    Список администраторов пуст
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </content>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>