header {
    text-align: center;

    .logo {
        > img {
            cursor: pointer;
            outline: none;
        }
    }
}

.form-wrapper {
    display: flex;
    justify-content: center;

    .form-inner {
        width: 402px;
        margin-top: 55px;

        form {
            background-color: #335C65;
            border-radius: 10px;
            padding-top: 39px;
            padding-bottom: 39px;
            padding-left: 59px;
            padding-right: 59px;
            box-sizing: border-box;
    
            .form-header {
                padding-top: 11px;
                padding-bottom: 11px;
    
                h1 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 130.08%;
                    color: #ffffff;
                }
            }
    
            .form-footer {
                margin-top: 18px;
                font-size: 14px;
                line-height: 130.08%;
                text-align: center;
                
                span {
                    color: #6F9BA5;
    
                    a {
                        color: #32A776;
                    }
                }
            }
    
            .form-group {
                position: relative;
                margin-top: 18px;
    
                label {
                    position: absolute;
                    top: 23px;
                    left: 16px;
                    font-size: 16px;
                    color: #98BDC3;
                    -webkit-transition: all .4s;
                    -moz-transition: all .4s;
                    -o-transition: all .4s;
                    transition: all .4s;
                    cursor: text;
                }
    
                input,
                textarea {
                    width: 100%;
                    padding-top: 23px;
                    padding-bottom: 13px;
                    padding-left: 16px;
                    background: rgba(255, 255, 255, 0.12);
                    box-sizing: border-box;
                    border: 1px solid #5B868F;
                    border-radius: 10px;
                    font-size: 16px;
                    color: #ffffff;
                    outline: none;
    
                    &::placeholder {
                        color: #98BDC3;
                    }
    
                    &:focus + label,
                    &:valid + label {
                        top: 7px;
                        font-size: 8px;
                        letter-spacing: 0.06em;
                        text-transform: uppercase;
                    }
                }

                input {
                    line-height: 100%;
                }

                textarea {
                    line-height: 140%;
                }

                .checkbox {
                    padding-left: 15px;
                    padding-right: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input[type="checkbox"] {
                        width: 0;
                        height: 0;
                        position: absolute;
                        visibility: hidden;
                    }

                    .checkbox-wrapper {
                        .custom-checkbox {
                            width: 24px;
                            height: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: rgba(255, 255, 255, 0.12);
                            border: 1px solid #5B868F;
                            box-sizing: border-box;
                            border-radius: 6px;
                            transition: ease-in-out .2s;

                            > svg {
                                transition: ease-in-out .2s;
                                opacity: 0;
                            }

                            &.checked {
                                border: 1px solid #33F6A5;
                                transition: ease-in-out .2s;

                                > svg {
                                    transition: ease-in-out .2s;
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .text-wrapper {
                        margin-left: 14px;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: -0.02em;
                        color: #6F9BA5;

                        > a {
                            color: #6F9BA5;
                            text-decoration: underline;
                        }
                    }
                }
    
                button {
                    outline: none;
                    cursor: pointer;
                }
    
                textarea {
                    padding-bottom: 65px;
                }
            }
        }

        .error-block {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 49px;
            background: #AC2858;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 60px;
            margin-left: 14px;
            margin-right: 14px;
            padding-left: 14px;
            padding-right: 14px;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #FDD6E4;
            transition: ease-in-out .3s;
            opacity: 0;

            .icon {
                margin-top: -1px;
                width: 18px;
                height: 18px;
                margin-right: 12px;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .auth-wrapper {
        padding-top: 0;

        header {
            min-height: 118px;
            text-align: left;
            padding-top: 27px;
            padding-bottom: 25px;
            padding-left: 35px;
            padding-right: 35px;
            border-bottom: 0.5px solid #5D8189;
        }

        .form-wrapper {
            .form-inner {
                width: 100%;
                margin-top: 24px;

                form {
                    padding-left: 35px;
                    padding-right: 35px;
                    padding-top: 0;
                    padding-bottom: 0;
                    background-color: transparent;
                }

                .error-block {
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .auth-wrapper {
        padding-top: 0;

        header {
            min-height: 118px;
            text-align: left;
            padding-top: 27px;
            padding-bottom: 25px;
            padding-left: 19px;
            padding-right: 19px;
            border-bottom: 0.5px solid #5D8189;
        }

        .form-wrapper {
            .form-inner {
                width: 100%;
                margin-top: 24px;

                form {
                    padding-left: 19px;
                    padding-right: 19px;
                    padding-top: 0;
                    padding-bottom: 0;
                    background-color: transparent;
                }
            }
        }
    }
}