.content-wrapper {
    display: flex;

    content {
        width: 954px;
        background: #ffffff;
        margin-left: 30px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 14px;

        .problems-list {
            
        }

        .new-problem {
            display: flex;
            justify-content: center;
            align-items: center;

            .new-problem-button {
                width: 64px;
                height: 64px;
                background: #E9F9EF;
                border: 0.5px solid #A0DFB9;
                box-sizing: border-box;
                border-radius: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}