.content-wrapper {
    display: flex;
    margin-top: 19px;

    content {
        width: 954px;
        background: #ffffff;
        margin-left: 30px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 14px;
        

        .new-problem {
            display: flex;
            justify-content: center;
            align-items: center;

            .new-problem-button {
                width: 64px;
                height: 64px;
                background: #E9F9EF;
                border: 0.5px solid #A0DFB9;
                box-sizing: border-box;
                border-radius: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .content-wrapper {
        flex-direction: column;

        content {
            width: 100%;
            margin-left: 0;
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 559px) {
    .container {
        width: 100%;
        padding-left: 19px;
        padding-right: 19px;
    }

    .content-wrapper {
        content {
            padding: 16px;
        }
    }
}
