.content-wrapper {
    display: flex;
    margin-top: 19px;

    content {
        width: 954px;
        height: 100%;
        background: #ffffff;
        margin-left: 30px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 14px;

        .button-back {
            > button {
                border: 0.5px solid rgba(56, 154, 113, 0.5);
                box-sizing: border-box;
                border-radius: 10px;
                background: transparent;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 12px;
                line-height: 17px;
                text-transform: uppercase;
                color: #5BAA89;
                height: 34px;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 10.5px;
                padding-right: 12px;
                cursor: pointer;
                outline: none;

                > .icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;

                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .page-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 36px;
        
            .page-title {
                h2 {
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 140%;
                    color: #162B1E;
                }
            }
        
            .page-filters {
                display: flex;
        
                .filter {
                    background: #FAFFFC;
                    border: 1px solid #D6EDE2;
                    height: 46px;
                    border-radius: 16px;
                    padding-left: 19px;
                    padding-right: 19px;
                    display: flex;
                    align-items: center;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 14px;
                    color: #A6B5AD;
        
                    &.count {
                        width: 282px;
                        justify-content: space-between;
        
                        .filter-values {
                            display: flex;
        
                            > div {
                                margin-left: 24px;
                                cursor: pointer;
        
                                &:first-child {
                                    margin-left: 0;
                                }
        
                                &.active {
                                    cursor: default;
                                    color: #005264;
                                }
                            }
                        }
                    }
        
                    &.sorter {
                        width: 262px;
                        
                        .filter-values {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
        
                            > div {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
        
                                > svg {
                                    margin-left: 10px;
                                }
        
                                &.active {
                                    cursor: default;
                                    color: #005264;
                                }
                            }
                        }
                    }
        
                    &:last-child {
                        margin-left: 16px;
                    }
                }
            }
        }
        
        .page-content {
            .specialists-list {
                .flex-row {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
        
                app-specialist-card {
                    margin-bottom: 30px;
                    background: #FAFFFC;
                    border: 1px solid #D6EDE2;
                    border-radius: 16px;
                }
            }
        
            .specialists-pagination {
                display: inline-block;
                margin-top: 2px;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .content-wrapper {
        flex-direction: column;

        content {
            width: 100%;
            margin-left: 0;
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 991px) {
    .content-wrapper {
        content {
            .page-head {
                padding: 0;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .page-title {
                    width: 100%;
                    margin-top: 14px;
                }

                .page-filters {
                    margin-top: 14px;
                }
            }

            .page-content {
                margin-top: 24px;

                .specialists-list {
                    .flex-row {
                        justify-content: flex-start;
                        
                        app-specialist-card {
                            margin-right: 24px;
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }

    .content-wrapper {
        content {
            .page-head {
                .page-filters {
                    flex-direction: column;

                    .filter {
                        &:last-child {
                            margin-top: 14px;
                            margin-left: 0;
                        }

                        &.count {
                            width: 154px;

                            .filter-values {
                                width: 100%;
                                justify-content: space-between;

                                > div {
                                    margin-left: 0;
                                }
                            }
                        }

                        &.sorter {
                            width: 250px;
                        }

                        .filter-title {
                            display: none;
                        }
                    }
                }
            }

            .page-content {
                .specialists-list {
                    .flex-row {
                        app-specialist-card {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 559px) {
    .container {
        width: 100%;
        padding-left: 19px;
        padding-right: 19px;
    }

    .content-wrapper {
        content {
            padding: 16px;
        }
    }
}
