<div class="page-wrapper">

    <!-- Header -->
    <app-header></app-header>

    <div class="container">

        <!-- Page Head -->
        <div class="page-head">

            <!-- Title -->
            <div class="page-title">
                <h2>Статьи</h2>
            </div>

            <!-- Filters -->
            <div class="page-filters">
                <div class="filter count">
                    <div class="filter-title">На странице</div>

                    <div class="filter-values">
                        <div class="active">5</div>
                        <div>10</div>
                        <div>15</div>
                        <div>30</div>
                    </div>
                </div>

                <div class="filter sorter">
                    <div class="filter-values">
                        <div>Комментариев</div>
                        <div>Лайков</div>
                        <div class="active">Дата</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="page-content">
            <div class="articles-list" *ngIf="articles">
                <article *ngFor="let article of articles">
                    <div class="article-image">
                        <img src="../../../../assets/images/article-1.png" />
                    </div>

                    <div class="article-content">
                        <div class="article-date">
                            <span class="icon">
                                <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                            </span>
                            
                            {{ article.date | date: 'dd MMM yyy' }}
                        </div>

                        <div class="article-title" [routerLink]="['/articles', article.id]">
                            {{ article.title }}
                        </div>

                        <div class="article-short-text">
                            {{ article.shortText }}
                        </div>

                        <div class="article-actions">
                            <div class="article-full" [routerLink]="['/articles', article.id]">
                                Читать полностью
                            </div>

                            <div class="article-author" [routerLink]="['/specialists', article.author.id]">
                                <img [src]="article.author.photo.url" />

                                {{ article.author.user.firstName }} {{ article.author.user.lastName }}
                            </div>

                            <div class="article-likes">
                                17

                                <img src="../../../../assets/images/icon-like.svg" />
                            </div>

                            <div class="article-comments">
                                28

                                <img src="../../../../assets/images/icon-comment.svg" />
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!-- Pagination -->
            <div class="articles-pagination">
                <app-pagination></app-pagination>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>