header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url(../../../assets/images/main-bg.svg);
    background-repeat: repeat;

    .logo-wrapper {
        img {
            max-width: none;
        }
    }

    .nav-wrapper {
        nav {
            ul {
                li {
                    display: inline-block;
                    margin-left: 30px;
                    margin-right: 30px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #7EA59E;
                        letter-spacing: 0.05em;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: all .2s;

                        &:hover {
                            color: #99D3C9;
                        }

                        &:active {
                            color: #639289;
                        }
                    }

                    .login-wrapper {
                        .login-button {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 121.5%;
                            letter-spacing: 0.135em;
                            color: #25A46E;
                            text-transform: uppercase;
                            border: 0.5px solid #5DB892;
                            box-sizing: border-box;
                            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                            background: transparent;
                            backdrop-filter: blur(25px);
                            /* Note: backdrop-filter has minimal browser support */
                            border-radius: 16px;
                            display: flex;
                            align-items: center;
                            padding: 20px;
                            outline: none;
                            cursor: pointer;
                
                            .icon {
                                margin-right: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    header {
        .login-wrapper {
            display: none;
        }
    }
}

@media screen and (max-width: 1199px) {
    header {
        .nav-wrapper {
            display: none;
        }
    }
}