<header class="header-desktop">
    <div class="logo-wrapper" [routerLink]="['/']">
        <img src="../../../assets/images/logo-color.svg" alt="Корневая террапия" />
    </div>

    <div class="nav-wrapper">
        <nav>
            <ul>
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Отзывы клиентов</a></li>
                <li><a [routerLink]="['/specialists']">Выбрать специалиста</a></li>
                <li><a [routerLink]="['/articles']">Статьи</a></li>

                <li *ngIf="!isLoggedIn">
                    <div class="login-wrapper">
                        <button type="button" class="login-button" [routerLink]="['/sign-in']">
                            <img class="icon" src="../../../assets/images/icon-key.svg" alt="" />
                            Войти
                        </button>
                    </div>
                </li>

                <li class="user-phone" *ngIf="isLoggedIn && user && isCabinetRoute()">
                    <span>
                        <img src="../../../assets/images/icon-phone.svg" />

                        {{ getPhone() }}
                    </span>
                </li>

                <li *ngIf="isLoggedIn && user">
                    <div class="profile-badge-wrapper" *ngIf="user.role == 1" [routerLink]="['/profile']">
                        <div class="avatar">
                            {{ getAvatar() }}
                        </div>

                        <div class="username">
                            {{ user.firstName }}
                        </div>
                    </div>

                    <div class="profile-badge-wrapper" *ngIf="user.role == 2 || user.role == 3" [routerLink]="['/profile-specialist']">
                        <div class="avatar">
                            {{ getAvatar() }}
                        </div>

                        <div class="username">
                            {{ user.firstName }}
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>

<header class="header-mobile">
    <div class="header-content">
        <div class="logo-wrapper" [routerLink]="['/']">
            <img src="../../../assets/images/logo-color.svg" alt="Корневая террапия" />
        </div>
    
        <div class="nav-wrapper">
            <div class="login-wrapper" *ngIf="!isLoggedIn">
                <button type="button" class="login-button" [routerLink]="['/sign-in']">
                    <img class="icon" src="../../../assets/images/icon-key.svg" alt="" />
                    Войти
                </button>
            </div>
    
            <div class="profile-badge-wrapper" *ngIf="isLoggedIn && user && user.role == 1" [routerLink]="['/profile']">
                <div class="avatar">
                    {{ getAvatar() }}
                </div>
    
                <div class="username">
                    {{ user.firstName }}
                </div>
            </div>

            <div class="profile-badge-wrapper" *ngIf="isLoggedIn && user && (user.role == 2 || user.role == 3)" [routerLink]="['/profile-specialist']">
                <div class="avatar">
                    {{ getAvatar() }}
                </div>
    
                <div class="username">
                    {{ user.firstName }}
                </div>
            </div>
    
            <div class="nav-button-wrapper">
                <div class="nav-button" (click)="toggleMobileNav()" [ngClass]="{'active': isMobileNavExpanden}">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-expand-nav" [ngClass]="{'expanded': isMobileNavExpanden}">
        <nav>
            <ul>
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Отзывы клиентов</a></li>
                <li><a [routerLink]="['/specialists']">Выбрать специалиста</a></li>
                <li><a [routerLink]="['/articles']">Статьи</a></li>

                <li *ngIf="!isLoggedIn">
                    <div class="login-wrapper">
                        <button type="button" class="login-button" [routerLink]="['/sign-in']">
                            <img class="icon" src="../../../assets/images/icon-key.svg" alt="" />
                            Войти
                        </button>
                    </div>
                </li>

                <li *ngIf="isLoggedIn && user && user.role == 1">
                    <div class="profile-badge-wrapper" [routerLink]="['/profile']">
                        <div class="avatar">
                            {{ getAvatar() }}
                        </div>
            
                        <div class="username">
                            {{ user.firstName }}
                        </div>
                    </div>
                </li>

                <li *ngIf="isLoggedIn && user && (user.role == 2 || user.role == 3)">
                    <div class="profile-badge-wrapper" [routerLink]="['/profile-specialist']">
                        <div class="avatar">
                            {{ getAvatar() }}
                        </div>
            
                        <div class="username">
                            {{ user.firstName }}
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>