<header>
    <div class="logo-wrapper">
        <img src="../../../assets/images/logo-color.svg" alt="Корневая террапия" />
    </div>

    <div class="nav-wrapper">
        <nav>
            <ul>
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Отзывы клиентов</a></li>
                <li><a [routerLink]="['/specialists']">Выбрать специалиста</a></li>
                <li><a href="#">Статьи</a></li>
                <li *ngIf="!isLoggedIn">
                    <div class="login-wrapper">
                        <button type="button" class="login-button" [routerLink]="['/sign-in']">
                            <img class="icon" src="../../../assets/images/icon-key.svg" alt="" />
                            Войти
                        </button>
                    </div>
                </li>
                <li *ngIf="isLoggedIn && user">
                    <div class="profile-badge-wrapper">
                        <div class="avatar">
                            {{ getAvatar() }}
                        </div>

                        <div class="username">
                            {{ user.firstName }}
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>