.reviews-slider {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 36px;

    .slide-wrapper {
        width: 936px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding-top: 26px;
        padding-bottom: 26px;
        padding-right: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .review-content {
            padding-left: 50px;
            padding-right: 50px;
    
            .reviewer {
                display: flex;
                align-items: center;
    
                /* .reviewer-photo {
                    margin-right: 19px;
                    width: 48px;
                    height: 48px;
                    flex: 0 0 48px;
                    border-radius: 100px;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 100px;
                    }
                } */
    
                .reviewer-name {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                    padding-right: 75px;
                }
            }
    
            .review-text {
                margin-top: 31px;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
    
            /* .social {
                margin-top: 35px;
            } */
        }
    
        .review-video {
            .video-wrapper {
                width: 519px;
                height: 292px;
            }
        }
    }
}

.swiper {
    position: relative;
}

.swiper-controls,
.swiper-controls-mobile {
    .swiper-prev,
    .swiper-next {
        position: absolute;
        top: 43%;
        width: 58px;
        height: 58px;
        border-radius: 28px;
        background: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;
        transition: all .3s;

        &:hover {
            background: rgba(255, 255, 255, .5);
        }
    }
    
    .swiper-prev {
        left: 0;
    }
    
    .swiper-next {
        right: 0;
    }
}

.slides-indicator {
    display: flex;
    align-items: center;
    justify-content: center;

    .slides-indicator-inner {
        display: flex;
        align-items: center;

        .slide-indicator {
            margin-right: 16px;
            width: 8px;
            height: 8px;
            background: #E0F2E9;
            border-radius: 4px;
            cursor: pointer;

            &.active {
                width: 14px;
                height: 14px;
                border-radius: 8px;
                background: #FFFFFF;
                border: 0.5px solid #B6DBC9;
                box-sizing: border-box;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .reviews-slider {
        .slide-wrapper {
            width: auto;
        }
    }

    .swiper-controls {
        .swiper-prev {
            left: -71px;
        }
        
        .swiper-next {
            right: -71px;
        }
    }
}

@media screen and (max-width: 991px) {
    .swiper {
        position: static;
    }

    .swiper-controls {
        .swiper-prev,
        .swiper-next {
            top: 50%;
        }
    
        .swiper-prev {
            left: 35px;
        }
        
        .swiper-next {
            right: 35px;
        }
    }

    .reviews-slider {
        padding-top: 40px;
        padding-bottom: 46px;

        .slide-wrapper {
            width: 520px;
            padding-top: 35px;
            padding-bottom: 26px;
            padding-left: 30px;
            padding-right: 30px;
            flex-direction: column-reverse;

            .review-video {
                .video-wrapper {
                    width: 460px;
                    height: 250px;
                }
            }

            .review-content {
                max-width: none;
                margin-top: 32px;

                .review-text {
                    margin-top: 16px;
                }

                .social {
                    margin-top: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .reviews-slider {
        padding-top: 36px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 711px) {
    .swiper-controls {
        .swiper-prev,
        .swiper-next {
            display: flex;
        }
    }

    .swiper-controls-mobile {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .slides-indicator {
        display: none;
    }

    .swiper-controls {
        .swiper-prev,
        .swiper-next {
            display: none;
        }
    }

    .swiper-controls-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 31px;

        .swiper-prev,
        .swiper-next {
            display: flex;
            position: static;
        }

        .swiper-prev {
            margin-right: 12px;
        }

        .swiper-next {
            margin-left: 12px;
        }
    }

    .reviews-slider {
        .slide-wrapper {
            background: transparent;
            box-shadow: none;
            padding: 0;
            
            .review-content {
                margin-top: 26px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .reviews-slider {
        .slide-wrapper {
            .review-video {
                .video-wrapper {
                    max-width: 460px;
                    max-height: 250px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}