<div class="swiper">
    <swiper [(index)]="currentSlide">
        <div class="reviews-slider">
            <div class="slide-wrapper">
                <div class="review-content">
                    <div class="reviewer">
                        <div class="reviewer-photo">
                            <img src="../../../../assets/images/reviewer.png" />
                        </div>

                        <div class="reviewer-name">
                            Белобородова Анастасия
                        </div>
                    </div>

                    <div class="review-text">
                        Тут именно то, что беспокоило человека долгое время – становится таким понятным..
                    </div>

                    <div class="social">
                        <a href="#">
                            <img src="../../../../assets/images/vk-filled.svg" />
                        </a>
                    </div>
                </div>

                <div class="review-video">
                    <div class="video-wrapper">
                        <iframe style="width: 100%; height: 100%; border-radius: 6px;" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/u0wJU3lhWoI?autoplay=1><img src=https://img.youtube.com/vi/u0wJU3lhWoI/hqdefault.jpg><span>▶</span></a>" src="https://www.youtube.com/embed/u0wJU3lhWoI"
                            frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews-slider">
            <div class="slide-wrapper">
                <div class="review-content">
                    <div class="reviewer">
                        <div class="reviewer-photo">
                            <img src="../../../../assets/images/reviewer.png" />
                        </div>

                        <div class="reviewer-name">
                            Егор Матрешкин
                        </div>
                    </div>

                    <div class="review-text">
                        Тут именно то, что беспокоило человека долгое время – становится таким понятным..
                    </div>

                    <div class="social">
                        <a href="#">
                            <img src="../../../../assets/images/vk-filled.svg" />
                        </a>
                    </div>
                </div>

                <div class="review-video">
                    <div class="video-wrapper">
                        <iframe style="width: 100%; height: 100%; border-radius: 6px;" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/u0wJU3lhWoI?autoplay=1><img src=https://img.youtube.com/vi/u0wJU3lhWoI/hqdefault.jpg><span>▶</span></a>" src="https://www.youtube.com/embed/u0wJU3lhWoI"
                            frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </swiper>

    <div class="swiper-controls">
        <div class="swiper-prev" (click)="prevSlide()">
            <img src="../../../../assets/images/swiper-prev.svg" />
        </div>
        
        <div class="swiper-next" (click)="nextSlide()">
            <img src="../../../../assets/images/swiper-next.svg" />
        </div>
    </div>

    <div class="swiper-controls-mobile">
        <div class="swiper-prev" (click)="prevSlide()">
            <img src="../../../../assets/images/swiper-prev.svg" />
        </div>
        
        <div class="swiper-next" (click)="nextSlide()">
            <img src="../../../../assets/images/swiper-next.svg" />
        </div>
    </div>

    <div class="slides-indicator" *ngIf="slides">
        <div class="slides-indicator-inner">
            <div class="slide-indicator" *ngFor="let slide of slides; let i = index" [ngClass]="{ 'active': currentSlide == i }" (click)="setSlide(i)"></div>
        </div>
    </div>
</div>