<div class="specialist-block">
                    
    <!-- Specialist Photo -->
    <div class="specialist-photo">
        <img [src]="specialist.photo.url" />
    </div>

    <!-- Specialist Info -->
    <div class="specialist-info">

        <!-- Specialist Name -->
        <div class="specialist-name" [routerLink]="['/specialist']">
            {{ specialist.user.firstName }} {{ specialist.user.lastName }}
        </div>

        <!-- Specialist Rating -->
        <div class="specialist-rating">
            <div class="rating">
                <div class="star">
                    <img src="../../../../assets/images/star.svg">
                </div>

                <div class="counter">
                    5
                </div>
            </div>

            <div class="reviews">
                <div class="reviews-counter positive">
                    271
                </div>

                <div class="reviews-counter neutral">
                    2
                </div>

                <div class="reviews-counter negative">
                    18
                </div>
            </div>
        </div>
    </div>

    <!-- Choose Button-->
    <div class="choose-button">
        <button type="button">Выбрать</button>
    </div>
</div>