.specialist-block {
    width: 282px;

    .specialist-photo {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        height: 263px;
        overflow: hidden;
        position: relative;

        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        > .author-price {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 67px;
            height: 27px;
            background: rgba(255, 255, 255, 0.95);
            border: 1px solid rgba(0, 0, 0, 0.06);
            box-sizing: border-box;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #32A776;
        }
    }

    .specialist-info {
        background: #ffffff;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

        .specialist-name {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            text-decoration-line: underline;
            color: #000000;
            cursor: pointer;
        }

        .specialist-rating {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .rating {
                display: flex;
                align-items: center;

                .rating-score {
                    font-family: "Poppins", sans-serif;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 130%;
                    color: #DEBA39;
                    margin-left: 7px;
                }
            }

            .reviews {
                display: flex;
                align-items: center;

                .reviews-counter {
                    font-family: 'Poppins', sans-serif;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    text-decoration-line: underline;
                    margin-left: 14px;
                    cursor: pointer;
                    outline: none;

                    &:first-child {
                        margin-left: 0;
                    }

                    &.positive {
                        color: #32A776;
                    }

                    &.neutral {
                        color: #9EACA9;
                    }

                    &.negative {
                        color: #AE2424;
                    }
                }
            }
        }
    }

    .choose-button {
        button {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 16px;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.135em;
            color: #32A776;
            background: #FFFFFF;
            border-radius: 0px 0px 16px 16px;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            outline: none;
            //transition: .3s ease;

            &:hover {
                background: linear-gradient(180deg, #32A776 0%, #049A5B 100%);
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                color: #FFFFFF;
                //transition: .3s ease;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .specialist-block {
        width: 100%;
    }
}
