<div class="specialist-block">
                    
    <!-- Specialist Photo -->
    <div class="specialist-photo">
        <div class="author-price">
            {{ specialist.price | number:'':'fr' }} ₽
        </div>

        <img [src]="specialist.photo.url" />
    </div>

    <!-- Specialist Info -->
    <div class="specialist-info">

        <!-- Specialist Name -->
        <div class="specialist-name" [routerLink]="['/specialists', specialist.id]">
            {{ specialist.user.firstName }} {{ specialist.user.lastName }}
        </div>

        <!-- Specialist Rating -->
        <div class="specialist-rating">
            <div class="rating">
                <div class="star">
                    <img src="../../../../assets/images/star.svg">
                </div>

                <div class="counter">
                    {{ specialist.rating }}
                </div>
            </div>

            <div class="reviews">
                <div class="reviews-counter positive" *ngIf="positiveReviews && positiveReviews.length">
                    {{ positiveReviews.length }}
                </div>

                <div class="reviews-counter neutral" *ngIf="neutralReviews && neutralReviews.length">
                    {{ neutralReviews.length }}
                </div>

                <div class="reviews-counter negative" *ngIf="negativeReviews && negativeReviews.length">
                    {{ negativeReviews.length }}
                </div>
            </div>
        </div>
    </div>

    <!-- Choose Button-->
    <div class="choose-button">
        <button type="button">Выбрать</button>
    </div>
</div>