<div class="specialist-block">

    <!-- Specialist Photo -->
    <div class="specialist-photo">
        <div class="author-price">
            {{ specialist.price | number:'':'fr' }} ₽
        </div>

        <img [src]="specialist.photo.url" />
    </div>

    <!-- Specialist Info -->
    <div class="specialist-info">

        <!-- Specialist Name -->
        <div class="specialist-name" [routerLink]="['/specialists', specialist.id]">
            {{ specialist.user.firstName }} {{ specialist.user.lastName }}
        </div>

        <!-- Specialist Rating -->
        <div class="specialist-rating">
            <div class="rating">
                <app-rating [score]="specialist.rating" [single]="true" [size]="20"></app-rating>

                <div class="rating-score">
                    {{ specialist.rating }}
                </div>
            </div>

            <div class="reviews">
                <div class="reviews-counter positive" *ngIf="positiveReviews && positiveReviews.length"
                    [routerLink]="['/specialists', specialist.id]" [queryParams]="{reviews: 'positive'}">
                    {{ positiveReviews.length }}
                </div>

                <div class="reviews-counter neutral" *ngIf="neutralReviews && neutralReviews.length"
                    [routerLink]="['/specialists', specialist.id]" [queryParams]="{reviews: 'neutral'}">
                    {{ neutralReviews.length }}
                </div>

                <div class="reviews-counter negative" *ngIf="negativeReviews && negativeReviews.length"
                    [routerLink]="['/specialists', specialist.id]" [queryParams]="{reviews: 'negative'}">
                    {{ negativeReviews.length }}
                </div>
            </div>
        </div>
    </div>

    <!-- Choose Button-->
    <div class="choose-button">
        <button type="button" (click)="chooseSpecialist()">Выбрать</button>
    </div>
</div>