<div class="page-wrapper">

    <!-- Header -->
    <profile-specialist-header></profile-specialist-header>

    <div class="container">
        <div class="content-wrapper">
            <profile-specialist-sidebar></profile-specialist-sidebar>

            <content>
                <div class="page-top">
                    <div class="page-head">
                        <h2>Статьи</h2>

                        <div class="new-article">
                            <div class="new-article-button" [routerLink]="['create']">
                                <img src="../../../../assets/images/icon-plus.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="page-filters">
                        <div class="page-filter count">
                            <div class="filter-title">
                                На странице
                            </div>

                            <div class="filter-values">
                                <div class="filter-value" (click)="setPageSize(5)"
                                    [ngClass]="{'active': pageSize == 5, 'disabled': !articles.length}">5</div>
                                <div class="filter-value" (click)="setPageSize(10)"
                                    [ngClass]="{'active': pageSize == 10, 'disabled': !articles.length}">10</div>
                                <div class="filter-value" (click)="setPageSize(15)"
                                    [ngClass]="{'active': pageSize == 15, 'disabled': !articles.length}">15</div>
                                <div class="filter-value" (click)="setPageSize(30)"
                                    [ngClass]="{'active': pageSize == 30, 'disabled': !articles.length}">30</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <div class="articles-empty" *ngIf="!articles.length">
                        <div class="icon">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0001 38.0001C28.8366 38.0001 36.0001 30.8366 36.0001 22.0001C36.0001 13.1635 28.8366 6.00008 20.0001 6.00008C11.1635 6.00008 4.00008 13.1635 4.00008 22.0001C4.00008 30.8366 11.1635 38.0001 20.0001 38.0001ZM20.0001 40.0001C29.9412 40.0001 38.0001 31.9412 38.0001 22.0001C38.0001 12.059 29.9412 4.00008 20.0001 4.00008C10.059 4.00008 2.00008 12.059 2.00008 22.0001C2.00008 31.9412 10.059 40.0001 20.0001 40.0001Z" fill="#D4E1DC"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0001 24.0001V11.0001H20.0001V22.0569L25.4188 18.1863L26.5813 19.8138L19.5813 24.8138C19.2765 25.0315 18.8756 25.0606 18.5425 24.8892C18.2094 24.7178 18.0001 24.3747 18.0001 24.0001Z" fill="#D4E1DC"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.293 10.7072L29.293 2.70718L30.7072 1.29297L38.7072 9.29297L37.293 10.7072Z" fill="#D4E1DC"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.70718 10.7072L10.7072 2.70718L9.29297 1.29297L1.29297 9.29297L2.70718 10.7072Z" fill="#D4E1DC"/>
                            </svg>                                
                        </div>

                        <div class="text">
                            Вы ещё не писали статей
                        </div>
                    </div>

                    <div class="articles-list" *ngIf="articles">
                        <article *ngFor="let article of articles">
                            <div class="article-content">
                                <div class="article-title">
                                    {{ article.title }}
                                </div>

                                <div class="article-short-text">
                                    {{ article.shortText }}
                                </div>

                                <div class="article-actions">
                                    <div class="article-date">
                                        <span class="icon">
                                            <img _ngcontent-plx-c72="" src="../../../../assets/images/icon-calendar.svg"
                                                alt="">
                                        </span>

                                        {{ article.date | date: 'dd.MM.yyy' }}
                                    </div>

                                    <div class="article-likes-comments">
                                        <div class="article-likes">
                                            {{ article.likes.length }}

                                            <span class="icon">
                                                <img src="../../../../assets/images/icon-like-transparent.svg" />
                                            </span>
                                        </div>

                                        <div class="article-comments">
                                            {{ article.comments.length }}

                                            <span class="icon">
                                                <img src="../../../../assets/images/icon-comment-transparent.svg" />
                                            </span>
                                        </div>
                                    </div>

                                    <div class="article-edit-actions">
                                        <div class="action-edit" [routerLink]="['/profile-specialist/articles', article.id]">
                                            Редактировать
                                        </div>

                                        <div class="action-delete" (click)="showDeleteArticleDialog(article.id)">
                                            Удалить
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="article-photo">
                                <img [src]="article.image.url" />
                            </div>
                        </article>
                    </div>

                    <div class="articles-pagination" *ngIf="articles.length">
                        <app-pagination [currentPage]="pageNumber" [totalPages]="totalPages"
                            (onChanged)="setPageNumber($event)"></app-pagination>
                    </div>
                </div>
            </content>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>

<profile-specialist-delete-dialog #deleteDialog class="delete-article-dialog"></profile-specialist-delete-dialog>