.content-wrapper {
    display: flex;
    margin-top: 19px;

    content {
        width: 954px;
        background: #ffffff;
        margin-left: 30px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        border-radius: 14px;

        .page-top {
            display: flex;
            align-items: center;

            .button-back {
                > button {
                    border: 0.5px solid rgba(56, 154, 113, 0.5);
                    box-sizing: border-box;
                    border-radius: 10px;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 17px;
                    text-transform: uppercase;
                    color: #5BAA89;
                    height: 34px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 10.5px;
                    padding-right: 12px;
            
                    .icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
            
                        > img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .page-head {
                margin-left: 24px;

                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 34px;
                    color: #005264;
                }
            }
        }

        .page-content {
            margin-top: 20px;

            .article-title {
                input {
                    width: 100%;
                    background: #F6FBF8;
                    border: 1px solid #D1E2DB;
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding-top: 21px;
                    padding-bottom: 10px;
                    padding-left: 16px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 100%;
                    color: #364D47;
                    outline: none;
                    
                    &::placeholder {
                        color: #BDD2D1;
                    }
                }
            }

            .article-preview-image {
                margin-top: 16px;
                border: 1px dashed #D1E2DB;
                box-sizing: border-box;
                border-radius: 10px;
                text-align: center;
                padding-top: 54px;
                padding-bottom: 54px;

                &.dragarea {
                    background: #F6FBF8;
                }

                .article-preview-image-caption {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #BDD2D1;
                    max-width: 322px;
                    margin: 0 auto;
                }

                .article-preview-image-button {
                    margin-top: 24px;

                    > button {
                        border: 1px dashed #BDD2D1;
                        box-sizing: border-box;
                        border-radius: 10px;
                        background: transparent;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 16px;
                        height: 40px;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: #BDD2D1;
                        cursor: pointer;
                        outline: none;
                    }
                }
            }

            .article-preview-image-uploaded {
                margin-top: 16px;
                border-radius: 10px;

                .preview-image {
                    max-height: 218px;
                    border-radius: 10px;
                    overflow: hidden;

                    > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
            }

            .article-short-text {
                margin-top: 16px;

                textarea {
                    background: #F6FBF8;
                    border: 1px solid #D1E2DB;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: 100%;
                    height: 104px;
                    padding-left: 16px;
                    padding-top: 23px;
                    padding-bottom: 16px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    color: #364D47;
                    outline: none;
                    resize: vertical;

                    &::placeholder {
                        color: #BDD2D1;
                    }
                }
            }

            .article-text-editor {
                margin-top: 16px;
            }

            .article-submit {
                margin-top: 4px;

                > button {
                    border-radius: 10px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    letter-spacing: 0.135em;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .content-wrapper {
        flex-direction: column;

        content {
            width: 100%;
            margin-left: 0;
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 991px) {
    .content-wrapper {
        content {
            .page-content {
                margin-top: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding-left: 19px;
        padding-right: 19px;
    }

    .content-wrapper {
        content {
            padding: 24px;

            .page-top {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .page-head {
                    width: 100%;
                    margin-top: 16px;
                    margin-left: 0;
                }

                .button-back {
                    width: 100%;
                }
            }

            .page-content {
                .article-preview-image {
                    padding-top: 32px;
                    padding-bottom: 31px;
                    padding-left: 18px;
                    padding-right: 18px;
                }

                .article-text-editor {
                    margin-top: 12px;
                }
            }
        }
    }
}
