<div class="auth-wrapper">
    <header>
        <div class="logo">
            <img src="../../../assets/images/logo-white.svg" alt="Корневая Терапия" />
        </div>
    </header>
    
    <div class="form-wrapper">
        <form [formGroup]="confirmAuthForm" (ngSubmit)="submit(confirmAuthForm)">
            <div class="form-header button-header">
                <span class="back-button" (click)="backToAuth()">
                    <img src="../../../assets/images/ellipse-arrow-left.svg" alt="Назад" />
                </span>

                <h1>Код из СМС</h1>
            </div>

            <div class="info-block">
                <span>Введите код из СМС, которую мы отправили на ваш мобильный телефон</span>
            </div>

            <div class="form-group horizontal">
                <input type="text" #digit1 formControlName="digit1" placeholder="0" maxlength="1" (input)="nextDigit($event, 1)" />
                <input type="text" #digit2 formControlName="digit2" placeholder="0" maxlength="1" (input)="nextDigit($event, 2)" />
                <input type="text" #digit3 formControlName="digit3" placeholder="0" maxlength="1" (input)="nextDigit($event, 3)" />
                <input type="text" #digit4 formControlName="digit4" placeholder="0" maxlength="1" (input)="nextDigit($event, 4)" />
            </div>

            <div class="form-group">
                <button type="submit" class="button-disabled">Продолжить</button>
            </div>

            <div class="form-footer">
                <span> До повторной отправки <span class="counter">29 сек</span></span>
            </div>
        </form>
    </div>
</div>