<div class="page-wrapper">

     <!-- Header -->
     <app-header></app-header>

     <div class="container">
        <div class="article-container">

            <!-- Head -->
            <div class="article-head">

                <!-- Image -->
                <div class="article-image">
                    <img src="../../../../assets/images/article-1-big.png" />
                </div>

                <!-- Info -->
                <div class="article-info">

                    <!-- Title -->
                    <div class="article-title">
                        Как прекрасна эта жизнь!
                    </div>

                    <!-- Likes -->
                    <div class="article-likes">
                        17

                        <img src="../../../../assets/images/icon-like.svg" />
                    </div>

                    <!-- Comments -->
                    <div class="article-comments">
                        4

                        <img src="../../../../assets/images/icon-comment.svg" />
                    </div>

                    <!-- Date -->
                    <div class="article-date">
                        <img src="../../../../assets/images/icon-calendar.svg" />

                        02 мар 2020
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="article-content">
                
                <!-- Article Text -->
                <div class="article-text">
                    Значимость этих проблем настолько очевидна, что сложившаяся структура организации в значительной степени обуславливает создание новых предложений. Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки новых предложений.
                    <br />
                    <br />
                    Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание новых предложений. Товарищи! рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени.
                    
                    <img src="../../../../assets/images/article-inner-image.png" style="margin-top: 32px; margin-bottom: 32px;" />
                    
                    Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности представляет собой интересный эксперимент проверки новых предложений. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации существенных финансовых и административных условий.
                </div>

                <!-- Article Sidebar -->
                <div class="article-sidebar">

                    <!-- Author -->
                    <div class="author-block">
                        <div class="content-wrapper">

                            <div class="title">Автор</div>

                            <div class="author-name">
                                Апполионарий Калашников
                            </div>

                            <div class="author-info">
                                <div class="author-photo">
                                    <img src="../../../../assets/images/article-author-2.png" />
                                </div>
                                
                                <div class="author-price">
                                    1 400 ₽
                                </div>

                                <div class="author-rating">
                                    <div class="icon-star">
                                        <img src="../../../../assets/images/star.svg" />
                                    </div>

                                    4.3
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sign Up Button -->
                    <div class="signup-button">
                        <button type="button">Записаться</button>
                    </div>
                </div>
            </div>

            <!-- Comments -->
            <div class="article-comments">
                
                <!-- Head -->
                <div class="article-comments-head">
                    Комментарии (4)
                </div>

                <!-- Comments List -->
                <div class="article-comments-list">

                    <!-- Comment -->
                    <div class="article-comment">

                        <!-- Comment Head -->
                        <div class="comment-head">
                            <div class="comment-author">
                                <div class="avatar">
                                    А
                                </div>

                                <div class="name">
                                    Анастасия Миллер
                                </div>
                            </div>

                            <div class="comment-date">
                                <div class="icon">
                                    <img src="../../../../assets/images/icon-calendar.svg" />
                                </div>

                                02 мар 2020 в 20:49
                            </div>
                        </div>

                        <!-- Comment Text -->
                        <div class="comment-text">
                            С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение модели развития. С другой стороны рамки и место обучения кадров требуют определения и уточнения модели развития.
                        </div>

                        <!-- Reply Button -->
                        <div class="reply-button">
                            Ответить
                        </div>

                        <!-- Comment Replies -->
                        <div class="comment-replies">
                            <div class="article-comment">

                                <!-- Comment Head -->
                                <div class="comment-head">
                                    <div class="comment-author">
                                        <div class="avatar" style="background: #5E7ADD;">
                                            Г
                                        </div>
        
                                        <div class="name">
                                            Геннадий Фазанов
                                        </div>
                                    </div>
        
                                    <div class="comment-date">
                                        <div class="icon">
                                            <img src="../../../../assets/images/icon-calendar.svg" />
                                        </div>
        
                                        02 мар 2020 в 20:49
                                    </div>
                                </div>
        
                                <!-- Comment Text -->
                                <div class="comment-text">
                                    <a href="#" class="reply-link">Анастасия</a>, с другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение модели развития.
                                </div>
        
                                <!-- Reply Button -->
                                <div class="reply-button">
                                    Ответить
                                </div>
                            </div>

                            <div class="article-comment">

                                <!-- Comment Head -->
                                <div class="comment-head">
                                    <div class="comment-author">
                                        <div class="avatar">
                                            А
                                        </div>
        
                                        <div class="name">
                                            Анастасия Миллер
                                        </div>
                                    </div>
        
                                    <div class="comment-date">
                                        <div class="icon">
                                            <img src="../../../../assets/images/icon-calendar.svg" />
                                        </div>
        
                                        02 мар 2020 в 20:49
                                    </div>
                                </div>
        
                                <!-- Comment Text -->
                                <div class="comment-text">
                                    <a href="#" class="reply-link">Геннадий</a>, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение модели развития.
                                </div>
        
                                <!-- Reply Button -->
                                <div class="reply-button">
                                    Ответить
                                </div>
                            </div>

                            <div class="article-comment">

                                <!-- Comment Head -->
                                <div class="comment-head">
                                    <div class="comment-author">
                                        <div class="avatar" style="background: #DD5ED8;">
                                            О
                                        </div>
        
                                        <div class="name">
                                            Олеся Золотова
                                        </div>
                                    </div>
        
                                    <div class="comment-date">
                                        <div class="icon">
                                            <img src="../../../../assets/images/icon-calendar.svg" />
                                        </div>
        
                                        02 мар 2020 в 20:49
                                    </div>
                                </div>
        
                                <!-- Comment Text -->
                                <div class="comment-text">
                                    <a href="#" class="reply-link">Анастасия</a>, информационно-пропагандистское обеспечение нашей деятельности позволяет оценить.
                                </div>
        
                                <!-- Reply Button -->
                                <div class="reply-button">
                                    Ответить
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Comment -->
                <div class="article-add-comment">
                    <div class="comment-area">
                        <textarea placeholder="Ваш комментарий..."></textarea>
                    </div>

                    <div class="submit-button">
                        <button type="button" class="button-green">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <!-- Footer -->
     <app-footer></app-footer>
</div>