.specialist-block {
    display: flex;
    align-items: center;
    padding-bottom: 40px;

    .specialist-photo {
        width: 226px;
        height: 274px;

        > img {
            width: 100%;
            height: 100%;
        }
    }

    .specialist-info {
        margin-left: 32px;

        .specialist-name {
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 26px;
            color: #162B1E;
        }

        .specialist-stat {
            margin-top: 16px;
            display: flex;
            align-items: center;

            .price {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #32A776;
                background: rgba(255, 255, 255, 0.95);
                border: 1px solid rgba(0, 0, 0, 0.06);
                box-sizing: border-box;
                backdrop-filter: blur(20px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 100px;
                width: 67px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .rating {
                margin-left: 17px;
                display: flex;
                align-items: center;

                .rating-stars {
                    img {
                        width: 16px;
                        height: 16px;
                        margin-left: 2px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }

                .rating-score {
                    margin-left: 12px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    color: #C0BEB4;
                }
            }
        }

        .specialist-description {
            max-width: 530px;
            margin-top: 16px;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #364D47;
        }

        .choose-button {
            margin-top: 16px;

            > button {
                background: transparent;
                border: 0.5px solid #389A71;
                box-sizing: border-box;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                border-radius: 16px;
                padding: 20px;
                font-weight: bold;
                font-size: 14px;
                //line-height: 17px;
                text-align: center;
                letter-spacing: 0.05em;
                color: #389A71;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                outline: none;
                cursor: pointer;

                > img {
                    margin-left: 16px;
                }
            }
        }
    }
}

.reviews {
    .reviews-head {
        background: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;

        .reviews-switcher {
            display: flex;
            align-items: center;

            .switch {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #C1D3CA;
                margin-left: 40px;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &.active {
                    cursor: default;
                    color: #389A71;

                    .count {
                        color: #389A71;
                    }
                }
                
                .count {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: #C1D3CA;
                    margin-left: 12px;
                }
            }
        }
    }

    .reviews-content {
        margin-top: 24px;

        .reviews-list {
            .review-block {
                background: #ffffff;
                border-radius: 10px;
                padding-top: 26px;
                padding-bottom: 24px;
                padding-left: 22px;
                padding-right: 22px;
                margin-top: 20px;
    
                &:first-child {
                    margin-top: 0;
                }
    
                .review-block-head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .reviewer-name {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 22px;
                        color: #162B1E;
                    }
                }
    
                .review-text {
                    margin-top: 20px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #364D47;
                }
    
                .review-date {
                    margin-top: 24px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    line-height: 14px;
                    color: #9EACA9;
    
                    .icon {
                        margin-right: 9px;
                    }
                }
            }
        }

        .reviews-pagination {
            display: inline-block;
            margin-top: 24px;
        }
    }
}