<div class="page-wrapper">

    <!-- Header -->
    <app-header></app-header>

    <div class="container">

        <div class="article-container">

            <!-- Specialist Block -->
            <div class="specialist-block">

                <!-- Photo -->
                <div class="specialist-photo">
                    <img src="../../../../assets/images/photo2.png" />
                </div>

                <!-- Info -->
                <div class="specialist-info">
                    <div class="specialist-name">
                        Антон Явлинский
                    </div>

                    <div class="specialist-stat">
                        <div class="price">
                            1 400 ₽
                        </div>

                        <div class="rating">
                            <div class="rating-stars">

                            </div>

                            <div class="rating-score">

                            </div>
                        </div>

                        <div class="description">
                            С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу участие.
                        </div>
                    </div>

                    <div class="choose-button">
                        <button type="button">
                            Выбрать
                            <img src="../../../../assets/images/icon-arrow-right.svg" alt="" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="reviews">
        <div class="reviews-head">
            <div class="article-container">
                <div class="reviews-switcher">
                    <div class="switch active">
                        Положительные отзывы
                        <div class="count">5</div>
                    </div>

                    <div class="switch">
                        Нейтральные отзывы
                        <div class="count">1</div>
                    </div>

                    <div class="switch">
                        Отрицательные отзывы
                        <div class="count">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews-content">
            <div class="article-container">
                <div class="review-block">
                    <div class="review-block-head">
                        <div class="reviewer-name">
                            Марк Твен
                        </div>

                        <div class="review-score">

                        </div>
                    </div>

                    <div class="review-text">
                        С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений.
                    </div>

                    <div class="review-date">
                        <span class="icon">
                            <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                        </span>

                        02 мар 2020
                    </div>
                </div>

                <div class="review-block">
                    <div class="review-block-head">
                        <div class="reviewer-name">
                            Марк Твен
                        </div>

                        <div class="review-score">

                        </div>
                    </div>

                    <div class="review-text">
                        С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений.
                    </div>

                    <div class="review-date">
                        <span class="icon">
                            <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                        </span>

                        02 мар 2020
                    </div>
                </div>

                <div class="review-block">
                    <div class="review-block-head">
                        <div class="reviewer-name">
                            Марк Твен
                        </div>

                        <div class="review-score">

                        </div>
                    </div>

                    <div class="review-text">
                        С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений.
                    </div>

                    <div class="review-date">
                        <span class="icon">
                            <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                        </span>

                        02 мар 2020
                    </div>
                </div>

                <div class="review-block">
                    <div class="review-block-head">
                        <div class="reviewer-name">
                            Марк Твен
                        </div>

                        <div class="review-score">

                        </div>
                    </div>

                    <div class="review-text">
                        С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений.
                    </div>

                    <div class="review-date">
                        <span class="icon">
                            <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                        </span>

                        02 мар 2020
                    </div>
                </div>

                <div class="review-block">
                    <div class="review-block-head">
                        <div class="reviewer-name">
                            Марк Твен
                        </div>

                        <div class="review-score">

                        </div>
                    </div>

                    <div class="review-text">
                        С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений.
                    </div>

                    <div class="review-date">
                        <span class="icon">
                            <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                        </span>

                        02 мар 2020
                    </div>
                </div>

                <!-- Pagination -->
            <div class="reviews-pagination">
                <app-pagination></app-pagination>
            </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>