<footer>
    <div class="container">
        <div class="flex-row">
            <div class="footer-nav">
                <div class="footer-nav-left">
                    <div class="footer-logo">
                        <img src="../../../assets/images/logo-gray.svg" alt="Корневая Терапия" />
                    </div>

                    <div class="footer-requisites">
                        ИП Чернаков Д.В.
                        <br />
                        ИНН: 780245116203
                    </div>

                    <div class="footer-copyright">
                        ©2020
                    </div>
                </div>

                <div class="footer-nav-right">
                    <nav>
                        <ul>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Специалисты</a></li>
                            <li><a href="#">Как это работает</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Профиль</a></li>
                            <li><a href="#">Заявки</a></li>
                            <li><a href="#">Настройки</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="footer-contacts">
                <div class="flex-row">
                    <div class="footer-contacts-left">
                        <div class="contacts-row phone">
                            <img src="../../../assets/images/icon-phone.svg" />

                            8 800 248 24 32
                        </div>

                        <div class="contacts-row email">
                            <img src="../../../assets/images/icon-mail.svg" />

                            support@root–therapy.ru
                        </div>
                    </div>

                    <div class="footer-contacts-right">
                        <div class="scroll-top-button">
                            <button type="button" class="scroll-top">
                                <img src="../../../assets/images/icon-arrow-top.svg" />
                                Наверх
                            </button>
                        </div>

                        <div class="social-buttons">
                            <a href="#">
                                <img src="../../../assets/images/icon-vk.svg" alt="VK" />
                            </a>

                            <a href="#">
                                <img src="../../../assets/images/icon-telegram.svg" alt="Telegram" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>