footer {
    padding-top: 51px;
    padding-bottom: 68px;
    background: #F0F6F3;

    &.footer-mobile {
        display: none;
    }

    > .container {
        > .flex-row {
            justify-content: space-between;
        }
    }

    .footer-left {
        > .flex-row {
            align-items: center;
        }

        .company {
            .footer-logo {
                svg {
                    cursor: pointer;
                    transition: ease-in-out .3s;

                    &:hover {
                        transition: ease-in-out .3s;
                        filter: saturate(2);
                    }

                    &:active {
                        transition: ease-in-out .3s;
                        filter: none;
                    }
                }
            }

            .footer-requisites {
                margin-top: 40px;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #C2D0C9;
            }

            .footer-copyright {
                margin-top: 23px;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.1em;
                color: #C2D0C9;
            }
        }

        .navigation {
            margin-left: 113px;

            nav {
                ul {
                    li {
                        margin-top: 24px;

                        &:first-child {
                            margin-top: 0;
                        }

                        a {
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.1em;
                            color: #005264;
                            text-transform: uppercase;
                            text-decoration: none;
                            transition: all .3s;

                            &:hover {
                                color: #2A9B7E;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-right {
        .contacts {
            .phone {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #005264;

                .icon {
                    margin-right: 14px;
                }
            }

            .email {
                margin-top: 11px;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                color: #005264;

                .icon {
                    margin-right: 11px;
                    vertical-align: text-bottom;
                }
            }

            .social {
                margin-top: 37px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                a {
                    margin-left: 12px;
                    margin-right: 12px;
                    transition: ease-in-out .3s;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        transition: ease-in-out .3s;
                        filter: saturate(4);
                    }

                    &:active {
                        transition: ease-in-out .3s;
                        filter: saturate(4) brightness(0.8);
                    }
                }
            }
        }

        .links {
            margin-left: 80px;

            .buttons {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .login-wrapper {
                    .login-button {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 121.5%;
                        letter-spacing: 0.135em;
                        color: #25A46E;
                        text-transform: uppercase;
                        border: 0.5px solid #5DB892;
                        box-sizing: border-box;
                        //box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                        background: transparent;
                        backdrop-filter: blur(25px);
                        /* Note: backdrop-filter has minimal browser support */
                        border-radius: 16px;
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        outline: none;
                        cursor: pointer;
                        transition: ease-in-out .3s;

                        .icon {
                            margin-right: 16px;
                        }

                        &:hover {
                            transition: ease-in-out .3s;
                            background: #F2F9F6;
                            border: 0.5px solid #BCE1D1;
                        }

                        &:active {
                            transition: ease-in-out .3s;
                            background: #EBF3EF;
                            border: 0.5px solid #B5D8C9;
                        }
                    }
                }

                .profile-badge-wrapper {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    outline: none;
            
                    .avatar {
                        width: 40px;
                        height: 40px;
                        background: #77D8AF;
                        border: 1px solid #6AC9A1;
                        box-sizing: border-box;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 20px;
                        color: #FFFFFF;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: -23px;
                        z-index: 1;
            
                        > img {
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                            object-fit: cover;
                        }
                    }
            
                    .username {
                        background: #ECF4F1;
                        border: 1px solid #CEE4DB;
                        box-sizing: border-box;
                        border-radius: 10px;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 16px;
                        color: #005264;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 33px;
                        padding-right: 13px;
                    }
                }

                .gotop-wrapper {
                    margin-left: 38px;

                    button {
                        transition: ease-in-out .3s;
                        outline: none;

                        > svg {
                            margin-right: 16px;
                        }

                        &:hover {
                            transition: ease-in-out .3s;
                            filter: saturate(4);
                        }

                        &:active {
                            transition: ease-in-out .3s;
                            filter: saturate(4) brightness(0.8);
                        }
                    }
                }

                .social-mobile {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
    
                    a {
                        margin-left: 12px;
                        margin-right: 12px;
                        transition: ease-in-out .3s;
    
                        &:first-child {
                            margin-left: 0;
                        }
    
                        &:last-child {
                            margin-right: 0;
                        }

                        &:hover {
                            transition: ease-in-out .3s;
                            filter: saturate(4);
                        }
    
                        &:active {
                            transition: ease-in-out .3s;
                            filter: saturate(4) brightness(0.8);
                        }
                    }
                }
            }

            .privacy {
                margin-top: 38px;
                display: flex;
                flex-direction: column;

                a {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 229%;
                    text-align: right;
                    text-decoration-line: underline;
                    color: #C2D0C9;
                    outline: none;
                    transition: ease-in-out .3s;

                    &:hover {
                        transition: ease-in-out .3s;
                        filter: saturate(4);
                    }

                    &:active {
                        transition: ease-in-out .3s;
                        filter: saturate(4) brightness(0.8);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1199px) {
    footer {
        .footer-left {
            .navigation {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    footer {
        .footer-right {
            .links {
                .buttons {
                    .social-mobile {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
    }

    footer {
        padding-top: 48px;
        padding-bottom: 38px;
        
        .footer-right {
            .contacts {
                .social  {
                    display: none;
                }
            }

            .links {
                margin-left: 0;

                .buttons {
                    flex-wrap: wrap;

                    /* .login-wrapper {
                        display: none;
                    } */

                    .gotop-wrapper {
                        margin-left: 30px;

                        .text {
                            display: none;
                        }

                        svg {
                            margin-right: 0 !important;
                        }
                    }

                    .social-mobile {
                        width: 100%;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        &.footer-desktop {
            display: none;
        }

        &.footer-mobile {
            display: block;

            .footer-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .footer-contacts {
                margin-top: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .phone,
                .email {
                    display: flex;
                    align-items: center;
                }

                .phone {
                    font-family: "Poppins", sans-serif;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 121.5%;
                    color: #005264;

                    > img {
                        margin-right: 14px;
                    }
                }

                .email {
                    margin-top: 16px;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 200%;
                    color: #005264;

                    > img {
                        margin-right: 11px;
                    }
                }
            }

            .footer-links {
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    margin-top: 16px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 100%;
                    text-decoration-line: underline;
                    color: #C2D0C9;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

            .footer-company {
                margin-top: 16px;
                text-align: center;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #C2D0C9;             
            }

            .footer-copyright {
                margin-top: 16px;
                font-weight: normal;
                font-size: 12px;
                line-height: 121.5%;
                text-align: center;
                letter-spacing: 0.1em;
                color: #C2D0C9;                
            }
        }
    }
}
