<!-- <footer>
    <div class="container">
        <div class="flex-row">
            <div class="footer-nav">
                <div class="footer-nav-left">
                    <div class="footer-logo">
                        <img src="../../../assets/images/logo-gray.svg" alt="Корневая Терапия" />
                    </div>

                    <div class="footer-requisites">
                        ИП Чернаков Д.В.
                        <br />
                        ИНН: 780245116203
                    </div>

                    <div class="footer-copyright">
                        ©2020
                    </div>
                </div>

                <div class="footer-nav-right">
                    <nav>
                        <ul>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Специалисты</a></li>
                            <li><a href="#">Как это работает</a></li>
                        </ul>

                        <ul>
                            <li><a href="#">Профиль</a></li>
                            <li><a href="#">Заявки</a></li>
                            <li><a href="#">Настройки</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="footer-contacts">
                <div class="flex-row">
                    <div class="footer-contacts-left">
                        <div class="contacts-row phone">
                            <img src="../../../assets/images/icon-phone.svg" />

                            8 800 248 24 32
                        </div>

                        <div class="contacts-row email">
                            <img src="../../../assets/images/icon-mail.svg" />

                            support@root–therapy.ru
                        </div>
                    </div>

                    <div class="footer-contacts-right">
                        <div class="scroll-top-button">
                            <button type="button" class="scroll-top">
                                <img src="../../../assets/images/icon-arrow-top.svg" />
                                Наверх
                            </button>
                        </div>

                        <div class="social-buttons">
                            <a href="#">
                                <img src="../../../assets/images/icon-vk.svg" alt="VK" />
                            </a>

                            <a href="#">
                                <img src="../../../assets/images/icon-telegram.svg" alt="Telegram" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->

<footer>
    <div class="container">
        <div class="flex-row">
            <div class="footer-left">
                <div class="flex-row">
                    <div class="company">
                        <div class="footer-logo">
                            <img src="../../../assets/images/logo-gray.svg" alt="Корневая Терапия" />
                        </div>
    
                        <div class="footer-requisites">
                            ИП Чернаков Д.В.
                            <br />
                            ИНН: 780245116203
                        </div>
    
                        <div class="footer-copyright">
                            ©2020
                        </div>
                    </div>

                    <div class="navigation">
                        <nav>
                            <ul>
                                <li><a href="#">Как это работает</a></li>
                                <li><a href="#">Отзывы клиентов</a></li>
                                <li><a href="#">Выбрать специалиста</a></li>
                                <li><a href="#">Статьи</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="footer-right">
                <div class="flex-row">
                    <div class="contacts">
                        <div class="phone">
                            <img class="icon" src="../../../assets/images/icon-phone.svg" />

                            +7 918 284 38 45
                        </div>

                        <div class="email">
                            <img class="icon" src="../../../assets/images/ic_mail.svg" />

                            support@denischernakov.ru
                        </div>

                        <div class="social">
                            <a href="#">
                                <img src="../../../assets/images/icon-vk.svg" alt="VK" />
                            </a>

                            <a href="#">
                                <img src="../../../assets/images/icon-telegram.svg" alt="Telegram" />
                            </a>
                        </div>
                    </div>

                    <div class="links">
                        <div class="buttons">
                            <div class="login-wrapper">
                                <button type="button" class="login-button" [routerLink]="['/sign-in']">
                                    <img class="icon" src="../../../assets/images/icon-key.svg" alt="" />
                                    Войти
                                </button>
                            </div>

                            <div class="gotop-wrapper">
                                <button type="button" class="scroll-top" (click)="scrollTop()">
                                    <img src="../../../assets/images/icon-arrow-top.svg" />
                                    Наверх
                                </button>
                            </div>

                            <div class="social-mobile">
                                <a href="#">
                                    <img src="../../../assets/images/icon-vk.svg" alt="VK" />
                                </a>
    
                                <a href="#">
                                    <img src="../../../assets/images/icon-telegram.svg" alt="Telegram" />
                                </a>
                            </div>
                        </div>

                        <div class="privacy">
                            <a href="#">Политика конфиденциальности</a>
                            <a href="#">Договор оферты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>