<div class="page-wrapper">

    <!-- Header -->
    <app-header></app-header>

    <div class="container">

        <!-- Page Head -->
        <div class="page-head">

            <!-- Title -->
            <div class="page-title">
                <h2>Выбрать специалиста</h2>
            </div>

            <!-- Filters -->
            <div class="page-filters">
                <div class="filter count">
                    <div class="filter-title">На странице</div>

                    <div class="filter-values">
                        <div class="active">8</div>
                        <div>16</div>
                        <div>32</div>
                        <div>64</div>
                    </div>
                </div>

                <div class="filter sorter">
                    <div class="filter-values">
                        <div>Рейтинг</div>
                        <div>Проведено</div>
                        <div class="active">Цена</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="page-content">
            <div class="specialists-list">
                <div class="flex-row">
                    <div class="specialist-block">
                    
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
    
                    <div class="specialist-block">
                        
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
    
                    <div class="specialist-block">
                        
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
    
                    <div class="specialist-block">
                        
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="specialist-block">
                    
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
    
                    <div class="specialist-block">
                        
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
    
                    <div class="specialist-block">
                        
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
    
                    <div class="specialist-block">
                        
                        <!-- Specialist Photo -->
                        <div class="specialist-photo">
                            <img src="../../../../assets/images/photo.png" />
                        </div>
    
                        <!-- Specialist Info -->
                        <div class="specialist-info">
    
                            <!-- Specialist Name -->
                            <div class="specialist-name">
                                Артур Арутюнян
                            </div>
    
                            <!-- Specialist Rating -->
                            <div class="specialist-rating">
                                <div class="rating">
                                    <div class="star">
                                        <img src="../../../../assets/images/star.svg">
                                    </div>
    
                                    <div class="counter">
                                        5
                                    </div>
                                </div>
    
                                <div class="reviews">
                                    <div class="reviews-counter positive">
                                        271
                                    </div>
    
                                    <div class="reviews-counter neutral">
                                        2
                                    </div>
    
                                    <div class="reviews-counter negative">
                                        18
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Choose Button-->
                        <div class="choose-button">
                            <button type="button">Выбрать</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="specialists-pagination">
                <app-pagination></app-pagination>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>