<div class="pagination">

    <!-- Prev -->
    <div class="prev-button">
        <img src="../../../assets/images/pagination-prev.svg" alt="Назад" />
    </div>

    <!-- Pages -->
    <div class="pages">
        <div class="page">1</div>
        <div class="page">2</div>

        <div class="more">...</div>

        <div class="page">12</div>
        <div class="page">13</div>
    </div>

    <!-- Next -->
    <div class="next-button">
        <img src="../../../assets/images/pagination-next.svg" alt="Вперёд" />
    </div>
</div>