.content-wrapper {
    display: flex;

    content {
        width: 954px;
        height: 100%;
        background: #ffffff;
        margin-left: 30px;
        /* padding-left: 24px;
        padding-right: 24px; */
        padding-top: 28px;
        padding-bottom: 24px;
        border-radius: 14px;

        .page-top {
            padding-left: 24px;
            padding-right: 24px;

            .page-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .client-name {
                    display: flex;
                    align-items: center;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 100%;
                    color: #ADBDC0;                

                    > svg {
                        margin-right: 8px;
                    }
                }
            }

            .page-head {
                margin-top: 16px;

                .problem-text {
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 140%;
                    color: #005264;
                }
            }
        }

        .page-content {
            margin-top: 35px;

            .tabs {
                .tabs-head {
                    padding-left: 24px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #D5E8DD;
                    display: flex;
                    align-items: center;

                    .tab-head {
                        margin-left: 40px;
                        display: flex;
                        align-items: center;
                        color: #C1D3CA;
                        cursor: pointer;

                        &:first-child {
                            margin-left: 0;
                        }

                        &.active {
                            color: #389A71;
                            cursor: auto;
                        }

                        .title {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 140%;
                        }

                        .count {
                            margin-left: 12px;
                            font-family: "Poppins", sans-serif;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 140%;
                        }
                    }
                }

                .tabs-content {
                    margin-top: 24px;
                    padding-left: 24px;
                    padding-right: 24px;

                    .tab-content {
                        .images-list {
                            .images-list-item {
                                margin-top: 16px;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                padding-left: 16px;
                                padding-right: 16px;
                                background: #F6FBF8;
                                border: 1px solid #E2F1EA;
                                box-sizing: border-box;
                                border-radius: 16px;

                                &:not(.hidden-image) {
                                    .item-head {
                                        .item-title {
                                            .item-name {
                                                .hidden-image-title {
                                                    display: none;
                                                }
                                            }
                                        }

                                        .item-actions {
                                            .item-reload {
                                                display: none;
                                            }
                                        }
                                    }
                                }

                                .item-head {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .item-title {
                                        display: flex;
                                        align-items: center;

                                        .item-date {
                                            width: 54px;
                                            height: 54px;
                                            background: #FFFFFF;
                                            border: 1px solid #DBF8E6;
                                            box-sizing: border-box;
                                            border-radius: 100px;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                            
                                            .day,
                                            .month {
                                                text-align: center;
                                            }

                                            .day {
                                                font-family: "Poppins", sans-serif;
                                                font-weight: 300;
                                                font-size: 22px;
                                                line-height: 100%;
                                                text-align: center;
                                                color: #005264;
                                            }

                                            .month {
                                                margin-top: 4px;
                                                font-weight: normal;
                                                font-size: 10px;
                                                line-height: 100%;
                                                text-align: center;
                                                letter-spacing: 0.18em;
                                                text-transform: uppercase;
                                                color: #9EACA9;
                                            }
                                        }

                                        .item-name {
                                            margin-left: 16px;

                                            .name {
                                                font-weight: normal;
                                                font-size: 20px;
                                                line-height: 100%;
                                                color: #005264;
                                            }

                                            .like-score {
                                                margin-top: 13px;
                                                display: flex;
                                                align-items: center;

                                                .like-score-section {
                                                    width: 21.8px;
                                                    height: 4px;
                                                    border: 1px solid #CDE6DB;

                                                    &:first-child {
                                                        border-top-left-radius: 4px;
                                                        border-bottom-left-radius: 4px;
                                                    }

                                                    &:last-child {
                                                        border-top-right-radius: 4px;
                                                        border-bottom-right-radius: 4px;
                                                    }

                                                    &.filled {
                                                        background: #56C898;
                                                        border: 1px solid #17A66A;
                                                    }
                                                }
                                            }
                                        }

                                        .item-specialist {
                                            margin-left: 160px;
                                            display: flex;
                                            align-items: center;

                                            .specialist-photo {
                                                width: 40px;
                                                height: 40px;
                                                padding: 3px;
                                                border-radius: 100px;
                                                border: 1px solid #32A776;

                                                > img {
                                                    width: 100%;
                                                    height: 100%;
                                                    border-radius: 100px;
                                                    object-fit: cover;
                                                    object-position: center;
                                                }
                                            }

                                            .specialist-name {
                                                margin-left: 12px;
                                                font-weight: normal;
                                                font-size: 16px;
                                                line-height: 100%;
                                                color: #005264;
                                            }
                                        }
                                    }
                                }

                                .item-body {
                                    margin-top: 10px;
                                    
                                    .item-description {
                                        background: #FFFFFF;
                                        border: 1px solid #E2F1EA;
                                        box-sizing: border-box;
                                        border-radius: 10px;

                                        .item-description-row {
                                            display: flex;
                                            align-items: center;
                                            padding-left: 16px;
                                            padding-right: 16px;
                                            padding-top: 16px;
                                            padding-bottom: 15px;
                                            
                                            &:first-child {
                                                border-bottom: 1px solid #E2F1EA;

                                                > .item-description-column {
                                                    &:first-child {
                                                        margin-right: 81px;
                                                    }

                                                    &:last-child {
                                                        margin-left: 62px;
                                                    }
                                                }
                                            }

                                            &:last-child {
                                                > .item-description-column {
                                                    margin-right: 60px;

                                                    &:last-child {
                                                        margin-right: 0;
                                                        margin-left: -7px;
                                                    }
                                                }
                                            }

                                            .item-description-column {
                                                .column-title {
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                    line-height: 140%;
                                                    text-transform: uppercase;
                                                    letter-spacing: 0.1em;
                                                    color: #B6C5BC;                                                    
                                                }

                                                &.text-column {
                                                    .column-value {
                                                        margin-top: 9px;
                                                        font-weight: normal;
                                                        font-size: 16px;
                                                        line-height: 140%;
                                                        color: #005264;                                                        
                                                    }
                                                }

                                                &.checkbox-column {
                                                    .column-value {
                                                        margin-top: 12px;
                                                    }
                                                }

                                                &.button-column {
                                                    .column-value {
                                                        button {
                                                            width: 125px;
                                                            height: 34px;
                                                            padding: 0;
                                                            text-transform: none;
                                                            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                                                            border-radius: 10px;
                                                            font-weight: normal;
                                                            font-size: 16px;
                                                            line-height: 100%;
                                                            color: #FFFFFF;
                                                            letter-spacing: normal;
                                                        }
                                                    }
                                                }

                                                &.relation-column {
                                                    cursor: not-allowed;
                                                    
                                                    .column-value {
                                                        display: flex;
                                                        align-items: center;
                                                        margin-top: 9px;

                                                        .related-image {
                                                            margin-left: 13px;
                                                            font-weight: normal;
                                                            font-size: 16px;
                                                            line-height: 140%;
                                                            color: #B6C5BC;
                                                            border-bottom: 1px dashed #B6C5BC;

                                                            > svg {
                                                                margin-left: 7px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &.hidden-image {
                                    background: #FBF9F6;
                                    border: 1px solid #ECE2D4;

                                    .item-head {
                                        .item-title {
                                            .item-name {
                                                .title {
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                    line-height: 140%;
                                                    letter-spacing: 0.1em;
                                                    text-transform: uppercase;
                                                    color: #FF8C22;
                                                }

                                                .name {
                                                    margin-top: 7px;
                                                }

                                                .like-score {
                                                    display: none;
                                                }
                                            }

                                            .item-specialist {
                                                display: none;
                                            }
                                        }

                                        .item-actions {
                                            .item-edit {
                                                display: none;
                                            }
                                        }
                                    }

                                    .item-body {
                                        display: none;
                                    }
                                }

                                &.create-item-form {
                                    padding: 0;

                                    .item-head {
                                        padding-top: 16px;
                                        padding-left: 16px;
                                        padding-right: 16px;

                                        .item-title {
                                            .item-add-icon {
                                                width: 54px;
                                                height: 54px;
                                                background: #FFFFFF;
                                                border: 1px solid #DBF8E6;
                                                box-sizing: border-box;
                                                border-radius: 100px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            }
                                        }
                                    }

                                    .item-body {
                                        margin-top: 16px;

                                        .create-item-form {

                                            .form-inner {
                                                display: flex;
                                                padding-left: 16px;
                                                padding-right: 16px;
                                                padding-bottom: 24px;
                                                border-bottom: 1px solid #E2F1EA;

                                                .form-block {
                                                    &:first-child {
                                                        width: 434px;
                                                    }

                                                    &:last-child {
                                                        width: 424px;
                                                        margin-left: 16px;
                                                    }

                                                    .form-group {
                                                        margin-top: 16px;

                                                        .input-wrapper {
                                                            position: relative;

                                                            input,
                                                            select {
                                                                width: 100%;
                                                                background: #FFFFFF;
                                                                border: 1px solid #E1EEE6;
                                                                box-sizing: border-box;
                                                                border-radius: 10px;
                                                                outline: none;
                                                                padding-left: 16px;
                                                                padding-top: 21px;
                                                                padding-bottom: 10px;
                                                                font-size: 16px;
                                                                line-height: 100%;
                                                                color: #005264;

                                                                &:focus,
                                                                &:valid {
                                                                    + label {
                                                                        top: 7px;
                                                                        font-size: 8px;
                                                                        line-height: 130.08%;
                                                                        letter-spacing: 0.06em;
                                                                        text-transform: uppercase;
                                                                        transition: all .3s;
                                                                    }
                                                                }
                                                            }

                                                            select {
                                                                padding-top: 23px;
                                                                padding-bottom: 11px;
                                                                -moz-appearance: none; 
                                                                -moz-appearance: none; 
                                                                -webkit-appearance: none; 
                                                                appearance: none;
                                                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB5SURBVHgBtc67DYAgEAbgO02wdRULKysmcBVHYAQ3cAYnuEI6TIybUGvIGYgPTCj1r+Dy3QPg6yDNuod8V7KSNgVooRJdMWTAbNEJ8oU0EsTMK4aCmRRi1nK+yWvyg2CUdaPw7o5wuClC4f9adWL/jlEyHpPRHfyeA75iP48UYEPmAAAAAElFTkSuQmCC');
                                                                background-color: #ffffff;
                                                                background-repeat: no-repeat;
                                                                background-position: right 16px top 25px;

                                                                &:valid {
                                                                    + label {
                                                                        top: 7px;
                                                                        font-size: 8px;
                                                                        line-height: 130.08%;
                                                                        letter-spacing: 0.06em;
                                                                        text-transform: uppercase;
                                                                        transition: all .3s;
                                                                    }
                                                                }

                                                                &:invalid {
                                                                    color: #C0CCC5;
                                                                }
                                                            }

                                                            label {
                                                                position: absolute;
                                                                top: 23px;
                                                                left: 16px;
                                                                font-size: 16px;
                                                                line-height: 100%;
                                                                color: #C0CCC5;
                                                                cursor: text;
                                                                transition: all .3s;
                                                            }
                                                        }

                                                        &:first-child {
                                                            margin-top: 0;
                                                        }

                                                        &.form-group-half {
                                                            display: flex;
                                                            justify-content: space-between;
                                                            align-items: center;

                                                            .input-wrapper {
                                                                width: 209px;
                                                            }
                                                        }

                                                        &.form-group-checkbox {
                                                            display: flex;
                                                            align-items: center;

                                                            .input-wrapper {
                                                                display: flex;
                                                                flex-direction: column;
                                                                align-items: flex-start;

                                                                label {
                                                                    position: static;
                                                                    font-weight: normal;
                                                                    font-size: 12px;
                                                                    line-height: 140%;
                                                                    letter-spacing: 0.1em;
                                                                    color: #B6C5BC;
                                                                    text-transform: uppercase;
                                                                    cursor: default;
                                                                }

                                                                input {
                                                                    margin-top: 12px;
                                                                }

                                                                &:first-child {
                                                                    margin-left: 16px;
                                                                    margin-right: 80px;
                                                                }

                                                                &:last-child {
                                                                    margin-left: 80px;
                                                                }
                                                            }
                                                        }

                                                        &.form-group-progress {
                                                            .input-wrapper {
                                                                width: 282px;
                                                                height: 52px;

                                                                label {
                                                                    position: static;
                                                                    display: flex;
                                                                    justify-content: space-between;
                                                                    align-items: center;
                                                                    margin-left: 8px;

                                                                    > span {
                                                                        font-weight: normal;
                                                                        line-height: 140%;
                                                                        letter-spacing: 0.1em;
                                                                        color: #B6C5BC;
                                                                        text-transform: uppercase;

                                                                        &:first-child {
                                                                            font-size: 12px;                                                                        
                                                                        }

                                                                        &:last-child {
                                                                            font-family: "Poppins", sans-serif;
                                                                            font-size: 14px;
                                                                        }
                                                                    }
                                                                }

                                                                .mat-slider {
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .submit-block {
                                                height: 64px;
                                            
                                                > button {
                                                    width: 100%;
                                                    height: 100%;
                                                    font-weight: bold;
                                                    font-size: 14px;
                                                    line-height: 121.5%;
                                                    text-align: center;
                                                    letter-spacing: 0.135em;
                                                    color: #0D9D61;
                                                    text-transform: uppercase;
                                                    background: none;
                                                    border: none;
                                                    outline: none;
                                                    cursor: pointer;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .new-item {
                            margin-top: 32px;
                        }
                    }
                }
            }
        }
    }
}

.button-back {
    > button {
        border: 0.5px solid rgba(56, 154, 113, 0.5);
        box-sizing: border-box;
        border-radius: 10px;
        background: transparent;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: #5BAA89;
        height: 34px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10.5px;
        padding-right: 12px;

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;

            > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.button-edit {
    > button {
        width: 40px;
        height: 40px;
        background: #E9F9EF;
        border: 0.5px solid #A0DFB9;
        box-sizing: border-box;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
    }
}

.button-reload {
    > button {
        width: 40px;
        height: 40px;
        background: #FFF3E0;
        border: 0.5px solid #E4CA9F;
        box-sizing: border-box;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
    }
}

.new-item {
    display: flex;
    justify-content: center;
    align-items: center;

    .new-item-button {
        width: 64px;
        height: 64px;
        background: #E9F9EF;
        border: 0.5px solid #A0DFB9;
        box-sizing: border-box;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
    }
}