<div class="main-banner">
    <app-header></app-header>
    <div class="container">
        <div class="flex-row">
            <div class="main-banner-left">
                <div class="event-row">
                    <div class="event-title">
                        Бесплатный вебинар
                    </div>

                    <div class="event-date">
                        <div class="event-day">
                            2
                        </div>

                        <div class="event-month">
                            апр
                        </div>
                    </div>

                    <div class="event-time">
                        <div class="event-hour">
                            20:00
                        </div>

                        <div class="event-timezone">
                            по Москве
                        </div>
                    </div>
                </div>

                <div class="banner-text">
                    <div class="text-top">
                        Как получить востребованную удалённую профессию
                    </div>

                    <div class="text-main">
                        Консультант по Корневой “Терапии”
                    </div>

                    <div class="text-bottom">
                        Сделайте помощь людям своей профессией, работайте удалённо из любой точки мира и достойно зарабатывайте, просто разговаривая с людьми
                    </div>
                </div>

                <div class="banner-button">
                    <button type="button" class="button-green button-icon">
                        <img class="icon" src="../../../../assets/images/icon-check.svg" />
                        Зарегистрироваться на вебинар
                    </button>
                </div>
            </div>

            <div class="main-banner-right">
                <img src="../../../../assets/images/girl.svg" />
            </div>
        </div>
    </div>
</div>

<div class="what-is">
    <div class="container">
        <div class="flex-row">
            <div class="col-6">
                <div class="illustration">
                    <img src="../../../../assets/images/what-is.svg" alt="Что такое “Корневая Терапия”?" />
                </div>
            </div>

            <div class="col-6">
                <div class="what-is-text">
                    <div class="what-is-text-head">
                        Что такое<br />“Корневая Терапия”?
                    </div>
    
                    <div class="what-is-text-bottom">
                        Это соединение самых эффективных методик консультирования. 
                        Она направлена на работу с психически здоровыми людьми, 
                        которые запутались в своих проблемах и переживаниях.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="idea">
    <div class="container">
        <div class="flex-row">
            <div class="col-6">
                <div class="idea-block">
                    <div class="idea-block-head">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-light.svg" />
                        </div>

                        Базовая идея
                    </div>

                    <div class="idea-block-text">
                        В основе Корневой «терапии» заложена идея о том, что с определённой поддержкой любой человек способен не только разобраться со всеми своими жизненными трудностями, но и достичь желаемых целей.
                        <br />
                        <br />
                        Сделать это самостоятельно мешает негативное состояние, из-за которого человек не видит решения проблемы или не может его реализовать.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="idea-block">
                    <div class="idea-block-head">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-presentation.svg" />
                        </div>

                        Результат
                    </div>

                    <div class="idea-block-text">
                        После консультации по Корневой «Терапии» качественно меняется состояние человека. Теперь ему будто всё по плечу: он видит и использует те решения, которых не замечал раньше из-за своего негативного состояния. Как следствие — человек легко справляется с трудностями и проблемами.
                        <br />
                        <br />
                        Всего одна консультация приводит к результату, на достижение которого в классической психотерапии требуется минимум несколько месяцев или даже лет работы.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profession">
    <div class="container">
        <div class="profession-head">
            Кому подходит эта профессия?
        </div>

        <div class="profession-blocks">
            <div class="flex-row">
                <div class="col-3">
                    <div class="profession-block">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-relations.svg" />
                        </div>

                        <div class="profession-block-head">
                            Психологам и коучам
                        </div>

                        <div class="profession-block-text">
                            Вы получите доступ к системе, которая действительно работает и дает результат оперативно, а не через 5 лет терапии. 
                        </div>

                        <div class="profession-block-bottom">
                            <a href="#">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="profession-block">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-embrace.svg" />
                        </div>

                        <div class="profession-block-head">
                            Мамам с детьми
                        </div>

                        <div class="profession-block-text">
                            Вы можете быть успешной, независимой и обеспеченной женщиной, при этом иметь счастливую семью. 
                        </div>

                        <div class="profession-block-bottom">
                            <a href="#">Приходите на вебинар<br />и узнайте как это сделать</a>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="profession-block">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-briefcase.svg" />
                        </div>

                        <div class="profession-block-head">
                            Специалистам<br />в других областях
                        </div>

                        <div class="profession-block-text">
                            Хотите помогать людям и реализоваться в новом направлении?
                        </div>

                        <div class="profession-block-bottom">
                            <a href="#">Тогда добро пожаловать на вебинар!</a>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="profession-block">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-trophy.svg" />
                        </div>

                        <div class="profession-block-head">
                            Тем, кто ищет призвание
                        </div>

                        <div class="profession-block-text">
                            Корневая «терапия» — сфера, которая позволит раскрыть ваш потенциал и способности.
                        </div>

                        <div class="profession-block-bottom">
                            <a href="#">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="webinar-checklist">
    <div class="container">
        <div class="webinar-checklist-head">
            На вебинаре Вы:
        </div>

        <div class="webinar-checklist-content">
            <div class="flex-row">
                <div class="list-left">
                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Поймете подходит ли вам эта профессия и
                            <br />
                            сможете ли вы стать успешным консультантом
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Получите стратегию выхода на
                            <br />
                            стабильный доход в консультировании
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Узнаете, как сформировать свою экспертность, стать
                            <br />
                            высокооплачиваемым и востребованным консультантом
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Получите пошаговый план привлечения клиентов,
                            <br />
                            которые хотят консультироваться именно у вас
                        </div>
                    </div>
                </div>
    
                <div class="list-right">
                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Поймете подходит ли вам эта профессия и
                            <br />
                            сможете ли вы стать успешным консультантом
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Поймете подходит ли вам эта профессия и
                            <br />
                            сможете ли вы стать успешным консультантом
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="icon">
                            <img src="../../../../assets/images/icon-check-2.svg" />
                        </div>

                        <div class="text">
                            Поймете подходит ли вам эта профессия и
                            <br />
                            сможете ли вы стать успешным консультантом
                        </div>
                    </div>
                </div>
            </div>

            <div class="webinar-checklist-button">
                <button type="button" class="button-green button-icon">
                    <img class="icon" src="../../../../assets/images/icon-check.svg" />
                    Зарегистрироваться на вебинар
                </button>
            </div>
        </div>

        <div class="webinar-checklist-image">
            <img src="../../../../assets/images/webinar-checklist-image.svg" />
        </div>
    </div>
</div>

<div class="webinar-presenter">
    <div class="container">
        <div class="webinar-presenter-head">
            Кто ведет вебинар?
        </div>

        <div class="flex-row">
            <div class="webinar-presenter-checklist">
                <div class="list-item">
                    <div class="icon">
                        <img src="../../../../assets/images/icon-check-2.svg" />
                    </div>
    
                    <div class="text">
                        Самый популярный психолог Санкт-Петербурга по
                        <br />
                        количеству ТВ эфиров, 36 шт
                    </div>
                </div>

                <div class="list-item">
                    <div class="icon">
                        <img src="../../../../assets/images/icon-check-2.svg" />
                    </div>
    
                    <div class="text">
                        Сертифицированный коуч-консультант, тренер
                        <br />
                        популярных обучающих программ. 
                    </div>
                </div>

                <div class="list-item">
                    <div class="icon">
                        <img src="../../../../assets/images/icon-check-2.svg" />
                    </div>
    
                    <div class="text">
                        Создатель первых в мире трансформационных
                        <br />
                        онлайн-тренингов.
                    </div>
                </div>
                <div class="list-item">
                    <div class="icon">
                        <img src="../../../../assets/images/icon-check-2.svg" />
                    </div>
    
                    <div class="text">
                        Клиенты с 5 континентов и 42 стран, в том числе –
                        <br />
                        управленцы компаний из списка Forbes, владельцы
                        <br />
                        малого, среднего и крупного бизнеса, госслужащие.
                    </div>
                </div>

                <div class="list-item">
                    <div class="icon">
                        <img src="../../../../assets/images/icon-check-2.svg" />
                    </div>
    
                    <div class="text">
                        За последние 5 лет повлиял на жизнь более 150
                        <br />
                        000 человек.
                    </div>
                </div>

                <div class="list-item">
                    <div class="icon">
                        <img src="../../../../assets/images/icon-check-2.svg" />
                    </div>
    
                    <div class="text">
                        Автор книги-бестселлера по версии Озон «12 встреч
                        <br />
                        меняющих судьбу».
                    </div>
                </div>
            </div>

            <div class="webinar-presenter-videos">
                <div class="video-wrapper">
                    <a href="#" class="play-button">
                        <img src="../../../../assets/images/icon-play.svg" />
                    </a>

                    <img src="../../../../assets/images/chernakov-1.png" />
                </div>

                <div class="video-wrapper">
                    <a href="#" class="play-button">
                        <img src="../../../../assets/images/icon-play.svg" />
                    </a>

                    <img src="../../../../assets/images/chernakov-2.png" />
                </div>
            </div>
        </div>

        <div class="webinar-presenter-card">
            <div class="card-image">
                <img src="../../../../assets/images/chernakov-card.png" />
            </div>

            <div class="card-content">
                <div class="card-head">
                    Денис Чернаков
                </div>

                <div class="card-text">
                    Психолог, постоянный эксперт на ТВ.
                    <br />
                    Автор книг и популярных тренингов о жизни и бизнесе.
                </div>
            </div>
        </div>
    </div>
</div>