<app-header></app-header>

<section class="main-banner">
    <div class="container">
        <div class="main-banner-image">
            <img src="../../../../assets/images/main-banner.svg" />
        </div>

        <div class="main-banner-head">
            <h1>
                Корневая «терапия» — это
                <br />
                новейшая авторская методика
                <br/>
                психологического консультирования.
            </h1>
        </div>

        <div class="main-banner-text">
            Решите свою жизненную или эмоциональную
            <br />
            проблему с гарантией результата.
        </div>

        <div class="main-banner-button">
            <button type="button" class="button-green button-icon">
                <img class="icon" src="../../../../assets/images/icon-target.svg" />
                Решить проблему
            </button>
        </div>
    </div>
</section>