<div class="page-wrapper">

    <!-- Header -->
    <profile-header></profile-header>

    <div class="container">
        <div class="content-wrapper">
            <profile-sidebar></profile-sidebar>

            <content>
                <div class="button-back">
                    <button type="button" (click)="prevRoute()">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.875 10.625H4.40656L9.18094 15.1725C9.43094 15.4106 9.44063 15.8063 9.2025 16.0563C8.96469 16.3059 8.56906 16.3159 8.31875 16.0778L2.86625 10.8841C2.63031 10.6478 2.5 10.3341 2.5 10C2.5 9.66625 2.63031 9.35219 2.87719 9.10563L8.31906 3.9225C8.44 3.80719 8.595 3.75 8.75 3.75C8.915 3.75 9.08 3.815 9.20281 3.94406C9.44094 4.19406 9.43125 4.58938 9.18125 4.8275L4.38688 9.375H16.875C17.22 9.375 17.5 9.655 17.5 10C17.5 10.345 17.22 10.625 16.875 10.625Z" fill="#5BAA89"/>
                        </svg>                            

                        Назад
                    </button>
                </div>

                <div class="page-head">
                    Новая проблема
                </div>

                <div class="page-content">
                    <div class="form-wrapper">
                        <form [formGroup]="createProblemForm" (ngSubmit)="submit(createProblemForm)">
                            <div class="form-group">
                                <input type="text" formControlName="problemText" placeholder="Опишите вашу проблему" required>
                            </div>

                            <div class="form-group">
                                <button *ngIf="!isLoading" type="submit" class="button-green" [disabled]="!isFormValid()">Добавить проблему</button>

                                <button *ngIf="isLoading" class="button-green loading" disabled>
                                    <ngx-spinner [fullScreen]="false" bdColor="transparent" size="medium"></ngx-spinner>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </content>
        </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>