.content-wrapper {
    display: flex;

    content {
        width: 954px;
        height: 100%;
        background: #ffffff;
        margin-left: 30px;
        padding-left: 24px;
        padding-top: 28px;
        padding-bottom: 24px;
        border-radius: 14px;

        .page-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            border-bottom: 1px solid #D5E8DD;

            .client-name {
                display: flex;
                align-items: center;

                .name {
                    margin-left: 20px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 140%;
                    color: #005264;                    
                }
            }

            .client-contacts {
                display: flex;
                align-items: center;
                padding-right: 24px;

                .phone {
                    font-family: "Poppins", sans-serif;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 121.5%;
                    color: #364D47;
                }

                .button-copy {
                    margin-left: 20px;
                    
                    > button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        background: #E9F9EF;
                        border: 0.5px solid #A0DFB9;
                        box-sizing: border-box;
                        border-radius: 100px;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }

        .page-content {
            padding-top: 20px;
            padding-right: 24px;

            .client-stats {
                display: flex;
                align-items: center;

                .client-stat-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 11px;
                    height: 32px;
                    padding-left: 8px;
                    padding-right: 8px;
                    background: #FFFFFF;
                    border: 1px solid #DBF8E6;
                    box-sizing: border-box;
                    border-radius: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    .title {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 100%;
                        color: #005264;                        
                    }

                    .value {
                        font-family: "Poppins", sans-serif;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 100%;
                        color: #005264;
                        margin-left: 8px;
                        margin-top: 1px;
                    }

                    > div {
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }

            .sessions-list {
                margin-top: 20px;

                .sessions-list-item {
                    margin-top: 12px;
                    padding-top: 12px;
                    padding-bottom: 20px;
                    padding-left: 16px;
                    padding-right: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;
                    border-radius: 10px;

                    &:first-child {
                        margin-top: 0;
                    }

                    &.session-active {
                        background: #FBF9F6;
                        border: 1px solid #ECE2D4;

                        .session-info {
                            .session-date {
                                border: 1px solid #ECE2D4;
                            }

                            .problem-info {
                                .title {
                                    color: #FF8C22;
                                }
                            }
                        }
                    }

                    &.session-waiting {
                        background: #ffffff;
                        border: 1px solid #E6E6E6;

                        .session-info {
                            .session-date {
                                border: 1px solid #E6E6E6;
                            }

                            .problem-info {
                                .title {
                                    color: #9EACA9;

                                    .title-inner {
                                        display: flex;
                                        align-items: center;

                                        > div {
                                            margin-left: 7px;

                                            &:first-child {
                                                margin-left: 0;
                                            }

                                            &.icon {
                                                width: 12px;
                                                height: 14px;
                                            }

                                            &.time {
                                                font-family: "Poppins", sans-serif;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.session-success {
                        background: #F6FBF8;
                        border: 1px solid #CEEADC;

                        .session-info {
                            .session-date {
                                border: 1px solid #DBF8E6;
                            }

                            .problem-info {
                                .title {
                                    font-family: "Poppins", sans-serif;
                                    color: #008F39;
                                }
                            }
                        }
                    }

                    &.session-refund {
                        background: #F6FBF8;
                        border: 1px solid #CEEADC;

                        .session-info {
                            .session-date {
                                border: 1px solid #DBF8E6;
                            }

                            .problem-info {
                                .title {
                                    color: #D80815;
                                }
                            }
                        }
                    }

                    .session-info {
                        display: flex;

                        .session-date {
                            width: 54px;
                            height: 54px;
                            border-radius: 100px;
                            background: #FFFFFF;
                            border: 1px solid #ECE2D4;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .day {
                                font-family: "Poppins", sans-serif;
                                font-weight: 300;
                                font-size: 22px;
                                line-height: 100%;
                                color: #364D47;
                            }

                            .month {
                                margin-top: 4px;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 100%;
                                letter-spacing: 0.18em;
                                text-transform: uppercase;
                                color: #C8B69D;
                            }
                        }

                        .problem-info {
                            margin-left: 13px;
                            margin-top: 6px;

                            .title {
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 140%;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                            }

                            .text {
                                margin-top: 10px;
                                max-width: 338px;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 140%;
                                color: #364D47;                                
                            }
                        }
                    }

                    .session-actions {
                        display: flex;
                        align-items: center;
                        margin-top: 4px;

                        .session-action {
                            margin-left: 12px;
                            display: flex;
                            align-items: center;
                            box-sizing: border-box;
                            border-radius: 10px;
                            cursor: pointer;

                            &:first-child {
                                margin-left: 0;
                            }

                            &.problem-images {
                                height: 32px;
                                padding-left: 8px;
                                padding-right: 8px;
                                background: #F8F3FF;
                                border: 1px solid #E7D8FD;

                                .title {
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 100%;
                                    color: #634F81;
                                }

                                .icon {
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 8px;
                                    margin-right: 8px;
                                }

                                .value {
                                    font-family: "Poppins", sans-serif;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 100%;
                                    color: #634F81;
                                    margin-top: 2px;                                  
                                }
                            }

                            &.problem-resources {
                                height: 32px;
                                padding-left: 8px;
                                padding-right: 8px;
                                background: #EBFBFF;
                                border: 1px solid #B5E2ED;

                                .title {
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 100%;
                                    color: #364D47;
                                }

                                .icon {
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 8px;
                                    margin-right: 8px;
                                }

                                .value {
                                    font-family: "Poppins", sans-serif;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 100%;
                                    color: #364D47;    
                                    margin-top: 2px;                        
                                }
                            }

                            &.close-button {
                                height: 40px;
                                padding-left: 16px;
                                padding-right: 16px;
                                justify-content: center;
                                background: linear-gradient(180deg, #FFA800 0%, #F27400 100%);
                                border: 1px solid #DA8300;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 100%;
                                color: #FFFFFF;
                                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
                            }
                        }
                    }
                }
            }
        }
    }
}

.button-back {
    > button {
        border: 0.5px solid rgba(56, 154, 113, 0.5);
        box-sizing: border-box;
        border-radius: 10px;
        background: transparent;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: #5BAA89;
        height: 34px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10.5px;
        padding-right: 12px;

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;

            > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}