// this holds the CSS display of the modal
.modal {
    // makes it hover above all elements
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    will-change: auto;
    overflow-y: overlay;
    padding-top: 39px;
}

// backdrop color
.modal-background {
    // should be below the .modal but above all other elements
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(219, 219, 219, 0.75);
    backdrop-filter: blur(50px);
    will-change: auto;
}

.modal-body {
    width: 479px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 10px;
}

.modal-body {
    .close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -79px;
        top: 0;
        width: 56px;
        height: 56px;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(30px);
        border-radius: 28px;
        cursor: pointer;
        transition: all .2s;

        .md,
        .mdiv  {
            height: 21px;
            width: 2px;
            background-color: #9EACA9;
            transition: all .2s;
        }

        .mdiv {
            margin-left: -2px;
            transform: rotate(45deg);
        }
          
        .md {
            transform: rotate(-45deg);
        }
        
        &:hover {
            .md,
            .mdiv {
                background-color: #B9B9B9;
            }
        }

        &:active {
            background: rgba(238, 238, 238, 0.7);

            .md,
            .mdiv {
                background-color: #DEDEDE;
            }
        }
    }

    .modal-header {
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        color: #162B1E;
    }
}

@media screen and (max-width: 575px) {
    .modal {
        padding-top: 81px;
        padding-left: 8px;
        padding-right: 8px;

        .modal-body {
            width: 100%;
            padding-top: 39px;
            padding-bottom: 39px;
            padding-left: 16px;
            padding-right: 16px;
    
            .close-button {
                right: auto;
                left: calc(50% - 28px);
                top: -68px;
            }

            .modal-header {
                line-height: 130.08%;
            }
        }

        .specialist-block {
            margin-top: 16px;
            width: 100%;
            padding-left: 16px;
            padding-right: 0;
        }
    }
}

.problems-list {
    .problems-list-item {
        padding-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid #DFDFDF;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            border-bottom: none;
        }

        .problem {
            display: flex;
            align-items: center;

            .problem-number {
                width: 17px;
                font-family: "Poppins", sans-serif;
                font-weight: normal;
                font-size: 24px;
                line-height: 24px;
                color: #32A776;                
            }

            .problem-text {
                max-width: 336px;
                margin-left: 10px;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #364D47;
            }
        }

        .select {
            .select-inner {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                background: #FFFFFF;
                border: 1px solid #32A776;
                box-sizing: border-box;
                border-radius: 12px;
                cursor: pointer;

                &.checked {
                    .selected {
                        transition: ease-in-out .2s;
                        opacity: 1;
                    }
                }

                .selected {
                    width: 12px;
                    height: 12px;
                    background: #32A776;
                    border-radius: 6px;
                    transition: ease-in-out .2s;
                    opacity: 0;
                }
            }
        }
    }
}

.create-problem-area {
    margin-bottom: 10px;
    
    > textarea {
        width: 100%;
        height: 104px;
        padding-top: 21px;
        padding-left: 16px;
        padding-right: 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #162B1E;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        resize: none;

        &::placeholder {
            color: #C4C4C4;
        }
    }
}

.button-submit {
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
    letter-spacing: 0.135em;
    line-height: 121.5%;

    &.disabled {
        cursor: not-allowed;
        background: #E7E7E7;
        box-shadow: none;
    }
}

.specialist-block {
    width: 479px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
    border-radius: 10px;

    .specialist-block-head {
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        color: #162B1E;
        padding-bottom: 18px;
        border-bottom: 1px solid #DFDFDF;
    }

    .specialist-block-content {
        padding-top: 18px;
        display: flex;
        align-items: center;

        .specialist-photo {
            width: 48px;
            height: 48px;
            border-radius: 24px;

            > img {
                width: 100%;
                height: 100%;
                border-radius: 24px;
                object-fit: cover;
            }
        }

        .specialist-info {
            margin-left: 10px;

            .specialist-name {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #000000;                
            }

            .specialist-rating {
                margin-top: 3px;
                display: flex;
                align-items: center;

                .price {
                    width: 67px;
                    height: 27px;
                    background: rgba(255, 255, 255, 0.95);
                    border: 1px solid rgba(0, 0, 0, 0.06);
                    box-sizing: border-box;
                    -webkit-backdrop-filter: blur(20px);
                    backdrop-filter: blur(20px);
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Poppins", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #32A776;
                }

                .rating {
                    margin-left: 13px;
                    display: flex;
                    align-items: center;
                    font-family: "Poppins", sans-serif;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    
                    color: #DEBA39;

                    .star {
                        width: 20px;
                        height: 20px;
                        margin-right: 7px;

                        > img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}