<div class="auth-wrapper" style="height: auto;">
    <header>
        <div class="logo">
            <img src="../../../assets/images/logo-white.svg" alt="Корневая Терапия" />
        </div>
    </header>
    
    <div class="form-wrapper" style="padding-bottom: 120px;">
        <form [formGroup]="signUpForm" (ngSubmit)="submit(signUpForm)" autocomplete="off">
            <div class="form-header">
                <h1>Регистрация</h1>
            </div>

            <div class="form-group">
                <input type="text" formControlName="firstName" required />
                <label>Имя</label>
            </div>

            <div class="form-group">
                <input type="text" formControlName="lastName" required />
                <label>Фамилия</label>
            </div>

            <div class="form-group">
                <input #phoneNumber id="phoneNumber" type="text" formControlName="phoneNumber" (keyup)="inputEvent($event)" required />
                <label>Телефон</label>
            </div>

            <div class="form-group">
                <input type="text" formControlName="email" required />
                <label>E-Mail</label>
            </div>

            <div class="form-group">
                <textarea formControlName="problem" required></textarea>
                <label>Какая у вас проблема?</label>
            </div>

            <div class="form-group">
                <button type="submit" [ngClass]="{'button-disabled': !isFormValid()}">Продолжить</button>
            </div>

            <div class="form-footer">
                <span> Уже есть аккаунт? <a [routerLink]="['/sign-in']">Войти</a></span>
            </div>
        </form>
    </div>
</div>