// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');

html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    //background-color: #F4F9F1;
    background-image: url(./assets/images/bg.svg);
    background-repeat: repeat;
}

.auth-wrapper {
    background: #254951;
    padding-top: 67px;
    height: 100vh;

    form {
        button {
            width: 100%;
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.135em;
            text-transform: uppercase;
            
            &.button-disabled {
                background: #3F666F;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                border: 0;
                border-radius: 10px;
                color: #ffffff;
            }
        }
    }
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.button-transparent {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #495E4F;
    border: 1px solid #DAEAE5;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.button-green {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(180deg, #32A776 0%, #049A5B 50.52%, #06A562 100%);
    background-size: 1px 144px;
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
        background-position: 72px;
    }

    &:active {
        background: #049A5B;
    }
}

.button-icon {
    padding-left: 26.5px;

    .icon {
        margin-right: 18.5px;
        vertical-align: text-bottom;
    }
}

button.scroll-top {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #A7C0B5;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    //padding: 12px 15px;
    display: flex;
    align-items: center;
    background: transparent;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    cursor: pointer;

    img {
        margin-right: 16px;
    }
}

// this makes the .modal visible
.show {
    display: block;
}
// this makes the element hidden/invisible
.hidden {
    display: none;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 540px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: auto;
    }
}