// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../node_modules/froala-editor/css/froala_editor.pkgd.min.css';

html, body {
    height: 100%;
}

.fr-toolbar {
    border: 1px solid #D1E2DB;
    
    .fr-newline {
        margin-left: 0;
        margin-right: 0;
        background: #DAE8E1;
    }

    .fr-btn-grp {
        margin: 0;
    }

    .fr-command.fr-btn {
        margin: 0;
        padding: 0 4px;
        border-radius: 0;
        border-right: 1px solid #D1E2DB;

        &:first-child {
            border-top-left-radius: 8px;
        }
    }
}

.fr-wrapper {
    border: 1px solid #D1E2DB !important;
    border-bottom-color:#D1E2DB !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0 !important;

    .fr-view {
        background: #F6FBF8;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 369px !important;
    }

    .fr-placeholder {
        z-index: 2;
    }
}

.second-toolbar {
    border: 0;
}

html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    //background-color: #F4F9F1;
    background-image: url(./assets/images/bg.svg);
    background-repeat: repeat;
}
.carousel-control-prev,
.carousel-control-next {
    width: 58px !important;
    height: 58px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.auth-wrapper {
    background: #254951;
    padding-top: 67px;
    //height: 100vh;
    height: 100%;

    form {
        button {
            width: 100%;
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0.135em;
            text-transform: uppercase;
            background: linear-gradient(180deg, #11D26A 0%, #027437 100%);
            background-size: 1px 280px;
            background-position: 30px;
            transition: .3s ease;
            border-radius: 10px;
            color: #ffffff;
            border: 0;
            outline: none;

            &:hover {
                background-position: 10px -50px;
            }

            &:active {
                transition: .1s;
                background-position: 10px -140px;
            }
            
            &.button-disabled {
                cursor: not-allowed !important;
                background: #3F666F;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
            }
        }

        re-captcha {
            position: relative;
            left: -9px;

            > div {
                width: 100% !important;

                > div {
                    > iframe {
                        transform: scaleX(0.9342);
                    }
                }
            }
        }
    }
}

.container,
.article-container {
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.button-transparent {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #495E4F;
    border: 1px solid #DAEAE5;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.button-green {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(180deg, #11D26A 0%, #027437 100%);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    background-size: 1px 140px;
    background-position: 30px;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    transition: .3s ease;

    &:hover {
        background-position: 10px -3px;
    }

    &:active {
        transition:.1s;
        background-position: 90px;
    }
}

.button-icon {
    padding-left: 26.5px;

    .icon {
        margin-right: 18.5px;
        vertical-align: text-bottom;
    }
}

button.scroll-top {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #A7C0B5;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    //padding: 12px 15px;
    display: flex;
    align-items: center;
    background: transparent;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    cursor: pointer;

    img {
        margin-right: 16px;
    }
}

.scroll-down {
    background: url(./assets/images/ic_scroll_down.svg);
    width:25px;
    height:128px;
    position: absolute;
    animation:scroll-down 2s infinite, fadeInUp 0.9s;
    margin-left: 35px;
    bottom:40px;
    z-index:2;
}

// this makes the .modal visible
.show {
    display: block;
}
// this makes the element hidden/invisible
.hidden {
    display: none;
}

.price-badge {
    width: 67px;
    height: 27px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #32A776;
}

@media screen and (max-width: 1310px) {
    .scroll-down {
        right:35px
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1218px;
    }

    .article-container {
        width: 802px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .article-container {
        width: 720px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .article-container {
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .article-container {
        width: 540px;
    }
}

@media screen and (max-width: 767px) {
    .scroll-down {
        display:none;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: auto;
    }

    .article-container {
        width: auto;
    }
}

.page-wrapper {
    background-image: url(./assets/images/main-bg.svg);
    background-repeat: repeat;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}

.articles-carousel {
    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
}

.carousel-switcher {
    .swiper-prev,
    .swiper-next {
        position: absolute;
        top: 25%;
        width: 58px;
        height: 58px;
        border-radius: 28px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .swiper-prev {
        left: 0;
    }

    .swiper-next {
        right: 0;
    }
}

.article-inner-image {
    margin-top: 32px;
    margin-bottom: 32px;
    min-height: 160px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #bdbdbdad;
    z-index: 9999;
}

button {
    &:disabled {
        cursor: not-allowed !important;
    }
}

@media screen and (max-width: 450px) {
    .auth-wrapper {
        background: #335C65;
    }
}

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/_carousel.scss';
