header {
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;

    form {
        width: 402px;
        margin-top: 55px;
        background-color: #335C65;
        border-radius: 10px;
        padding-top: 39px;
        padding-bottom: 39px;
        padding-left: 59px;
        padding-right: 59px;
        box-sizing: border-box;

        .form-header {
            padding-top: 11px;
            padding-bottom: 11px;

            h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 130.08%;
                color: #ffffff;
            }
        }

        .form-footer {
            margin-top: 18px;
            font-size: 14px;
            line-height: 130.08%;
            text-align: center;
            
            span {
                color: #6F9BA5;

                a {
                    color: #32A776;
                }
            }
        }

        .form-group {
            position: relative;
            margin-top: 18px;

            label {
                position: absolute;
                top: 23px;
                left: 16px;
                font-size: 16px;
                color: #98BDC3;
                -webkit-transition: all .4s;
                -moz-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
                cursor: text;
            }

            input {
                width: 100%;
                padding-top: 23px;
                padding-bottom: 13px;
                padding-left: 16px;
                background: rgba(255, 255, 255, 0.12);
                box-sizing: border-box;
                border: 1px solid #5B868F;
                border-radius: 10px;
                font-size: 16px;
                color: #98BDC3;
                outline: none;

                &::placeholder {
                    color: #98BDC3;
                }

                &:focus + label,
                &:valid + label {
                    top: 7px;
                    font-size: 8px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                }
            }

            button {
                outline: none;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .auth-wrapper {
        padding-top: 0;

        header {
            text-align: left;
            padding-top: 27px;
            padding-bottom: 25px;
            padding-left: 35px;
            padding-right: 35px;
            border-bottom: 0.5px solid #5D8189;
        }

        .form-wrapper {
            form {
                width: 100%;
                padding-left: 35px;
                padding-right: 35px;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 24px;
                background-color: transparent;
            }
        }
    }
}

@media screen and (max-width: 340px) {
    .auth-wrapper {
        padding-top: 0;

        header {
            text-align: left;
            padding-top: 27px;
            padding-bottom: 25px;
            padding-left: 19px;
            padding-right: 19px;
            border-bottom: 0.5px solid #5D8189;
        }

        .form-wrapper {
            form {
                width: 100%;
                padding-left: 19px;
                padding-right: 19px;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 24px;
                background-color: transparent;
            }
        }
    }
}